body{
	font-family: "ו";
	font-size: 12px;
	margin: 0;
	padding: 0px;
	line-height:20px;
	scrollbar-face-color:#C0C0C0;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#C0C0C0;
	scrollbar-darkshadow-color:#737373;
	scrollbar-shadow-color:#a6a6a6;
	scrollbar-arrow-color:#696969;
	scrollbar-track-color:#e0e0e0;
}

textarea{
	font-size: 12px;
}

.ellipsisDiv{
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

* {padding: 0; margin: 0; }
a {text-decoration: none; padding: 0px; margin: 0px; color: #000; }
img {padding: 0px; margin: 0px; border: none; }

#pageTo { height: 18px; margin: 0; padding: 0; font-size: 12px; }

.noResult{
	padding-top:50px; 
	font-size: 14px; 
	font-weight:bolder; 
	color:#21577a;
	text-align: center;
}

.btn_full{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../../images/plan/btn_full.gif');
	background-repeat:no-repeat;
	background-position: left 90%;
	cursor:pointer;
	padding-left:26px;
	text-align: left;
	float: left;
}
.btn_full:hover{
	background-image: url('../../images/plan/btn_full_hover.gif');
	color: #40A3DE;
}

table.showTable {
	table-layout: fixed;
	width: 100%;
	text-align: left;
	empty-cells:show;
	border-collapse:collapse;
}

table.showTable tr.header th {
	padding-left: 4px;
	font-size: 14px;
	color: #5B6B83;
	height: 20px;
	vertical-align: bottom;
	border-bottom: 1px solid #dbdbdb;
	background:url('../../pics/email/mail_title_line_temphight.jpg') no-repeat right bottom;
	text-align: left;
}

table.showTable tbody td {
	padding-left: 4px;
	height: 28px;
	line-height: 28px;
	border-bottom: 1px solid #dbdbdb;
}
table.showTable tbody tr:hover {
	background-color: #eeeeee;color:#40a3de;
}
.trHilight{
	background-color: #eeeeee;color:#40a3de;
}

.moduleTtile{
	padding: o 5px 0 5px;
	margin-top:2px;
	height:35px;
	vertical-align: middle;
	line-height: 35px;
	font-size: 14px;
}
.waiting{
	background: url(../../images/loading.gif) no-repeat center center;
}
table.editTable{
	line-height: 25px;
	padding-left: 10px;
	padding-top: 10px;
}
.editTable tr{
	height:25px;
}
.editTable input{
	width:100px;
}
.editTable button{
	height:23px;line-height:20px;width: 50px; margin-left: 10px;
}

.buttom {
	border:1px solid #FFFFFF;
	background-color:#21577a;
	color:#FFFFFF;
	cursor: pointer;
	font-size:12px;
	font-weight:bold;
	margin-left:5px;
	padding:3px;
	text-align:center;
	text-decoration:none;
	line-height: 20px;
}

.buttom:HOVER {
	background: #55eedd;
}
.error{
	border: 2px solid red;
}

