@CHARSET "UTF-8";

#copyUser {
	background-color:white;
	border:1px solid #BFBFBF;
}

#targetUser {
	background-color:white;
	border:1px solid #BFBFBF;
}

.btn_copy_save {
	background-image: url("../../images/common/btn_green_55_20.gif");
	color: white;
	cursor: pointer;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 55px;
}

.btn_copy_cancel {
	background-image:url("../../images/common/btn_red_55_55.gif");
	color:white;
	cursor: pointer;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 55px;
}