html {
	background-color: #e4e7ec;
}
body{
	margin:0px;
}
.body_header{
	width: 100%;
	height:63px;
	overflow: hidden;
	background-image:url("../../images/desk/top_back.jpg");
	background-repeat:repeat-x;
}
.body_header .logo {
	float: left;
	width: 204px;
	height: 63px;
	margin-top: 1px;
	margin-left: 7px;
	background-image: url('../../images/desk/logo_powerlong.jpg');
	background-repeat: no-repeat;
	background-position: left top;
}

.body_header .logo span{
	float:right;
	font-size:16px;
	font-weight:bolder;
	color:#316685;
	line-height:73px;
}
.user_right_title{
	float:right;
	width:113px;
	text-align: right;
	overflow-y:hidden;
	padding-right:2px;
	padding-left:2px;
}
.body_center{
	width: 100%;
	height:538px;
	overflow: hidden;
}
.body_footer{
	width: 100%;
	height:22px;
	overflow: hidden;
	background-image:url("../../images/desk/bottom_back.jpg");
	background-repeat:repeat-x;
}
.main_header{
	float:left;
	height:56px;
	overflow: hidden;
}
.main_left{
	float:left;
	width: 207px;
	height:538px;
	/*overflow: hidden;*/
	/*border-right:1px solid #8c8f94;*/
}
.main_tab{
	height:23px;
	overflow: hidden;
}
.main_center{
	height:508px;
	margin-right:5px;
	border-right: 1px solid #8c8f94;
	border-left: 1px solid #8c8f94;
	border-bottom: 1px solid #8c8f94;
}
.main_right{
	float:right;
	width:112px;
	height:515px;
	/*border-left:1px solid #8c8f94;*/
	border-right:1px solid #8c8f94;
}
.center_mail{
	height:226px;
	width:100%;
	background-color:#fff;
}
.center_daiban{
	height:278px;
	width:100%;
	background-color:#fff;
}
table.home_table{
	table-layout: fixed;
	text-align: left;
	color: #5a5a5a;
}
table.home_table tr{
	cursor: pointer;
}
table.home_table tr:hover{
	background-color:#c5cdd8;
}
table.home_table tr td{
	padding-left: 4px;
	height:24px;
	ling-height:24px;
	border-bottom:1px solid #dddbdc;
}

table.table_ggxw{
	table-layout: fixed;
	text-align: left;
}
table.table_ggxw tr{
	overflow: hidden;
	cursor: pointer;
}
table.table_ggxw tr:hover{
	background-color:#c5cdd8;
}
table.table_ggxw tr td{
	border-bottom:1px solid #DDDBDC;
	padding:0px 0 0px 10px;
	height:52px;
}
.tableHead{
	background: url(../../images/common/head_back.jpg) repeat-x;
}
.tableHead td{
	background: url(../../images/common/head_cut.jpg) no-repeat center right;
	/*border-right: 1px solid #8c8f94;*/
}
.unReadEmail{
	font-weight: bold;
}
.btn_help_home{
	width:65px;
	height:18px;
	background-color:#6eb1cf;
	color:#fff;
}
.btn_help_home:hover{
	width:65px;
	height:18px;
	background-color:#46728d;
	color:#fff;
}
.btn_exit_home{
	width:45px;
	height:18px;
	background-color:#b40a06;
	color:#fff;
}
.btn_exit_home:hover{
	width:45px;
	height:18px;
	background-color:#811a18;
	color:#fff;
}
