.ul_none {
	padding-left: 0px;
	margin-top: 5px;
}
.ul_next {
	padding-left: 0px;
	margin-top: 5px;
	margin-left: 15px;
}

.ul_li_user {
	list-style: none;
	font-size: 18px;
	color: #5a5a5a;
	line-height: 35px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
}
.ul_li_none {
	background-image: url("../../images/desk/wab/none.png");
}
.ul_li_male {
	background-image: url("../../images/desk/wab/male.png");
}
.ul_li_female {
	background-image: url("../../images/desk/wab/female.png");
}
.ul_li_right {
	list-style: none;
	font-size: 18px;
	color: #5a5a5a;
	line-height: 35px;
	cursor: pointer;
	background-image: url("../../images/treePanel/triangle_right.gif");
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 8px;
}
.ul_li_drop {
	list-style: none;
	font-size: 18px;
	color: #5a5a5a;
	line-height: 35px;
	cursor: pointer;
	background-image: url("../../images/treePanel/triangle_down.gif");
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 8px;
}
.search_input {
    background-image: url("../../images/wap/search_grey.png");
    background-position: 250px center;
    background-repeat: no-repeat;
    border-color: #8C8F94 #BFBFBF #BFBFBF;
    border-style: solid;
    border-width: 1px;
    color: #909090;
    font-size: 14px;
    height: 26px;
    line-height: 20px;
    padding-left: 3px;
    width: 280px;
    margin-bottom: 5px;
}
.search_user_result {
    display: none;
    height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    margin:0 5px;
}
.loadImg{   
   float : left;
   height:15px;   
   font-size:1px;   
   width:15px;   
   position:relative;   
   background-image: url(../../../images/loading16.gif);
   top : 8px;
   left : 8px
   }
.li_user_selected{
	background-color: #abc3d2;
}
.div_srh_user{
	cursor: pointer;
	margin: 10px auto;
}
#resChoosed div{
	font-size:16px;
	background-color: #abc3d2;
	margin: 5px auto;
}