body {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
	background-color: #FFF;
	font-family: "宋体";
	line-height: 20px;
	font-size: 12px;
	margin: 0 0 10px 0;
}
.mail_corner_tl{background:url("../pics/jbpm/jbpm_corner_tl.gif") no-repeat;height:3px;width:4px;float:left;}
.mail_corner_tr{background:url("../pics/jbpm/jbpm_corner_tr.gif") no-repeat;height:3px;width:4px;float:right;}
.mail_corner_tc{margin: 0 4px;border-top: 1px solid #dbdbdb;height:2px;}
.mail_corner_bl{background:url("../pics/jbpm/jbpm_corner_bl.gif") no-repeat;height:3px;width:4px;float:left;}
.mail_corner_br{background:url("../pics/jbpm/jbpm_corner_br.gif") no-repeat;height:3px;width:4px;float:right;}
.mail_corner_bc{margin: 0 4px;border-bottom: 1px solid #dbdbdb;height:2px; }

.mainCenter{
	margin-top:0;
	padding-left:2px;
	padding-right:2px;
	border-left:1px solid #dbdbdb;
	border-right:1px solid #dbdbdb;
}
.moduleTtile{
	padding: o 5px 0 5px;
	background-color:#eeeeee;
	margin-top:2px;
	height:32px;
	vertical-align: middle;
	line-height: 32px;
}
.moduleTtile div {
	float: left;
	margin: 7px 0 0 5px;
}
.moduleTtile .titleImgTravel{
	background: url(../pics/jbpm/titleImgTravel.gif) no-repeat;
	width: 23px;
	height: 19px;
}
.moduleTtile .text{
	font-size: 14px;
	font-weight: bold;
	color: #5a5a5a;
	margin-left: 5px;
}
.border_split {
	background: url(../pics/email/mail_title_line_temphight.jpg) center;
	width: 1px;
	height: 12px;
}

.radioDiv {
	width: 100%;
}

.radioDiv * {
	float: left;
}



.showTable {
	table-layout: fixed;
	width: 100%;
	padding: 0 5px 0 5px;
	color:#316685;
	empty-cells:show;
}

.showTable .detailTr {
	color: #000000;
	cursor: default;
}

/*表格列头右对齐*/
.showTable th {
	padding-left:10px;
	text-align: left;
	vertical-align: bottom;
}
.showTable>thead>tr *{
	border-bottom: 1px solid #b5b5b5;
	vertical-align: bottom;
}
/*显示表格的超链接颜色*/
.showTableTrHove {
	color: #ffffff;
	cursor: pointer;
	background-color: #9a9fa6;
}

.showTable>tbody>tr>td {
	padding-left:10px;
	border-bottom: #BFC4C8 1px dotted;
}

.foldTr {
	background-color: #ccffcc;
}

/*多余内容以...显示*/
.split {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 2px;
}

/*可编辑表格*/
.editTable {
	width: 100%;
	color: #316685;
}

.editTable input {
	width: 100%;
}

.editTable textarea {
	height: 70px;
	width: 100%;
}

.editTable input.readonly {
	background-color: #d8dada;
}

.editTable select {
	width: 100%;
}

.searchForm {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
	height:28px;
	background-color: #eeeeee;
	overflow: hidden;
	color: #5a5a5a;
}

/*超链接*/
a {
	color: #555;
	text-decoration: none;
}

/*按钮字体*/
.fontTitle {
	font-size: 13px;
	font-weight: bold;
	color: #679cc3;
}

/*搜索*/
.search {
	margin: auto 5px auto 5px;
}

/*搜索*/
.search.input,.search select {
	width: 120px;
}

.clear {
	clear: both;
}

.tableDiv {
	margin: 0;
	overflow: hidden;
}

.tableContain {
	background-color: #fff;
	overflow: hidden;
	margin-top: 5px;
}

.error {
	border: 1px solid red;
}

.pageBar {
	float: right;
	margin-right: 20px;
	margin-top: 2px;
}

.pageBar input {
	width: 15px;
	height: 12px;
}

.jbpmInputTitle {
	width: 100%;
	background-color: #d8dada;
	cursor: pointer;
	height: 20px;
	margin-top: 5px;
}

.jbpmInputTitle * {
	float: left;
}

.jbpmInputTitle .color {
	margin: 5px;
	width: 8px;
	height: 8px;
	background-color: #679cc3;
	width: 8px;
}

.toolBar {
	width: auto;
}

.arrow_right {
	margin:7px 5px 5px 5px;
	background: url(../pics/btn/btn_right_grey.gif) no-repeat;
	width: 7px;
	height: 7px;
}

.arrow_down {
	margin:7px 5px 5px 5px;
	background: url(../pics/btn/btn_down_blue.gif) no-repeat;
	width: 7px;
	height: 7px;
}
.btn{
	text-align: right;
	padding-right:5px;
	color: #fff;
	line-height: 26px;
	cursor: pointer;
	border: 0;
}

.btn_apply_travel{
	background: url(../pics/btn/btnApplyTravel_back.gif) no-repeat;
	width: 90px;
	height: 24px;
}
.btn_apply_travel:HOVER{
	background: url(../pics/btn/btnApplyTravel_back_hover.gif) no-repeat;
}
.btnSave{
	background: url(../pics/btn/btnSave_back.gif) no-repeat;
	width: 60px;
	height: 24px;
}
.btnSave:HOVER{
	background: url(../pics/btn/btnSave_back_hover.gif) no-repeat;
}
.btnApply{
	background: url(../pics/btn/btnApply_back.gif) no-repeat;
	width: 60px;
	height: 24px;
}
.btnApply:HOVER{
	background: url(../pics/btn/btnApply_back_hover.gif) no-repeat;
}
.btnCancel{
	background: url(../pics/btn/btnCancel_back.gif) no-repeat;
	width: 60px;
	height: 24px;
}
.btnCancel:HOVER{
	background: url(../pics/btn/btnCancel_back_hover.gif) no-repeat;
}
.btnAttach{
	background: url(../pics/btn/btnAttach_back.gif) no-repeat;
	width: 60px;
	height: 24px;
}
.btnAttach:HOVER{
	background: url(../pics/btn/btnAttach_back_hover.gif) no-repeat;
}
.btnReturn{
	background: url(../pics/btn/btnReturn_back.gif) no-repeat;
	width: 60px;
	height: 24px;
}
.btnReturn:HOVER{
	background: url(../pics/btn/btnReturn_back_hover.gif) no-repeat;
}
.btnAgree{
	background: url(../pics/btn/btnAgree_back.gif) no-repeat;
	width: 60px;
	height: 24px;
}
.btnAgree:HOVER{
	background: url(../pics/btn/btnAgree_back_hover.gif) no-repeat;
}
.btnBack{
	background: url(../pics/btn/btnBack_back.gif) no-repeat;
	width: 60px;
	height: 24px;
}
.btnBack:HOVER{
	background: url(../pics/btn/btnBack_back_hover.gif) no-repeat;
}
.btnSay{
	background: url(../pics/btn/btnSay_back.gif) no-repeat;
	width: 60px;
	height: 24px;
}
.btnSay:HOVER{
	background: url(../pics/btn/btnSay_back_hover.gif) no-repeat;
}
.btnNew{
	background: url(../pics/btn/btnNew_back.gif) no-repeat;
	width: 60px;
	height: 24px;
}
.btnNew:HOVER{
	background: url(../pics/btn/btnNew_back_hover.gif) no-repeat;
}
.btnDel{
	background: url(../pics/btn/btnDel_back.gif) no-repeat;
	width: 60px;
	height: 24px;
}
.btnDel:HOVER{
	background: url(../pics/btn/btnDel_back_hover.gif) no-repeat;
}
.btnExport{
	background: url(../pics/btn/btnExport_back.gif) no-repeat;
	width: 60px;
	height: 24px;
}
.btnExport:HOVER{
	background: url(../pics/btn/btnExport_back_hover.gif) no-repeat;
}

.button {
	cursor: pointer;
	padding: 0 8px 0 8px;
	float: left;
	height: 20px;
}

.buttonHover {
	border: 1px solid #0167a2;
}

.button div {
	float: left;
	margin: 1px 3px 0 0;
}

.button.text {
	font-family: "宋体";
	font-size: 12px;
	width: 85px;
}

/*查询*/
.button .btn_search {
	background: url(../pics/btn/btnSearch.gif) no-repeat;
	width: 17px;
	height: 17px;
}

/*查看*/
.button .btn_view {
	background: url(../pics/btn/btnView_blue.gif) no-repeat;
	width: 17px;
	height: 17px;
}

/*编辑*/
.button .btn_edit {
	background: url(../pics/btn/btnEdit.gif) no-repeat;
	width: 17px;
	height: 17px;
}

/*审批*/
.button .btn_approve {
	background: url(../pics/btn/btnApprove_blue.gif) no-repeat;
	width: 17px;
	height: 17px;
}

/*发言*/
.button .btn_say {
	background: url(../pics/btn/btnSay.gif) no-repeat;
	width: 17px;
	height: 17px;
}

/*驳回*/
.button .btn_back {
	background: url(../pics/btn/btnBack.gif) no-repeat;
	width: 17px;
	height: 17px;
}


/*同意*/
.button .btn_agree {
	background: url(../pics/btn/btnAgree.gif) no-repeat;
	width: 17px;
	height: 17px;
}

/*同意*/
.button .btn_agree_gray {
	background: url(../pics/btn/btnAgree_gray.gif) no-repeat;
	width: 17px;
	height: 17px;
}

/*新增*/
.button .btn_new {
	background: url(../pics/btn/btnNew_blue.gif) no-repeat;
	width: 17px;
	height: 17px;
}

/*新增，灰色*/
.button .btn_new_gray {
	background: url(../pics/btn/btnNew_gray.gif) no-repeat;
	width: 17px;
	height: 17px;
}

/*删除*/
.button .btn_del {
	background: url(../pics/btn/btnDel.gif) no-repeat;
	width: 17px;
	height: 17px;
}
/*发放管理*/
.button .btn_sendM {
	background: url(../pics/btn/btnSendM.gif) no-repeat;
	width: 17px;
	height: 17px;
}
/*转入报销*/
.button .btn_Ent {
	background: url(../pics/btn/btnEnt_blue.gif) no-repeat;
	width: 17px;
	height: 17px;
}

/*删除，灰色*/
.button .btn_del_gray {
	background: url(../pics/btn/btnDel.gif) no-repeat;
	width: 17px;
	height: 17px;
}
/*保存*/
.button .btn_save {
	background: url(../pics/btn/btnSave.gif) no-repeat;
	width: 17px;
	height: 17px;
}
/*取消*/
.button .btn_cancel {
	background: url(../pics/btn/btnCancel.gif) no-repeat;
	width: 17px;
	height: 17px;
}
