/*container*/
#ym-window{
	background:#FFFFFF;overflow:hidden;
	font-size:12px;font-family:'宋体';
	border:1px solid #99928c;
}

.ym-tl{padding-left:8px; height:38px; background-color:#449139;}
.ym-tr{padding-right:8px;}
.ym-tc{overflow:hidden; height:38px;line-height:38px;}
.ym-ttc{height:3px}
.ym-header-text{font-size:14px;font-weight:bold;color:#fff;/*padding-left:5px;background: url(images/titleIco.gif) no-repeat 1px 1px;*/float:left}
.ym-header-tools{float:right;margin-top:1px;margin-right:-5px;}
.ym-header-tools strong{display:none}

/*body*/
.ym-ml{}
.ym-mr{}
.ym-mc{padding:0}
.ym-body{overflow:auto;padding:0;font-size:12px;}

/*button*/
.ym-btn{text-align:center}

/*footer*/
.ym-bl{padding-left:4px}
.ym-br{padding-right:4px}
.ym-bc{height:4px;font-size:4px}

.ymPrompt_alert{
	padding-left:90px;
	background:url(images/info.gif) no-repeat 20px 50%
}
.ymPrompt_succeed{
	padding-left:90px;
	background:url(images/right.gif) no-repeat 20px 50%
}
.ymPrompt_error{
	padding-left:90px;
	background:url(images/err.gif) no-repeat 20px 50%
}
.ymPrompt_confirm{
	padding-left:90px;
	background:url(images/ask.gif) no-repeat 20px 50%
}
.ymPrompt_close{
	cursor:pointer;
	background:url(images/close.gif) no-repeat center;
	padding-top:8px;
	width:22px;height:38px;line-height:38px;
}
.ymPrompt_alert .ym-content,.ymPrompt_succeed .ym-content,.ymPrompt_error .ym-content,.ymPrompt_confirm .ym-content{padding:50px 0 0}
/*图标公共定义*/
.ym-header-tools div{
	cursor:pointer;
	float:left;margin:0 0;
	/*background:url(images/ico.gif) no-repeat;*/
}
.ymPrompt_close{
	/*background-position:-66px 0 !important;*/
	background:url(images/close.gif) no-repeat center center;
	width:25px;height:26px;
}
.ymPrompt_max{
	background:url(images/max.png) no-repeat 0 0;
	width:25px;height:26px;
	/*background-position:0 0 !important;*/
}
.ymPrompt_min{
	background-position:-44px 0 !important;
}
.ymPrompt_normal{
	background:url(images/max.png) no-repeat 0 0;
	width:25px;height:26px;
	/*background-position:-22px 0 !important;*/
}
/*取消确认按钮样式*/
input.btnStyle{
	width: 65px;
	height: 26px;
	line-height: 26px;
	background-color: #449139;
	color: #FFF;
	cursor:pointer;
	text-align: center;
}
/*取消确认按钮样式*/
input.btnStyle2{
	width: 65px;
	height: 26px;
	line-height: 26px;
	background-color: #272727;
	color: #FFF;
	cursor:pointer;
	text-align: center;
}
