
.mailUserLeft{float:left;width:222px;color:#000000;margin-right: 10px;padding-left: 10px;}
.mailUserRight{float:left;width:222px;color:#000000;}
.mailUserBorder{background-color: #fff;}
.mailUserBorder .operateDiv{font-size: 12px;cursor: pointer;font-weight: bold;background-color:#4C4239;color:#fff;border-bottom: 1px solid #fff;}
.mailUserBorder .operateDiv .click{background-color: #4d7b9d;color:#ffffff;}
.mailUserBorder div{font-size: 12px;}
.userSelected{color:#fff;background-color: #abc3d2;padding-left:15px;cursor: pointer;padding-top:2px;}
.userUnSelected{padding-left:15px;cursor: pointer;}
#userDisplay{margin:0;padding:0;list-style-type: none;}
.userStatus_online{background:url(../../../pics/email/member_pic.gif) no-repeat left;height:20px;padding-left: 16px;white-space: nowrap;}
.userStatus_offline{background:url(../../../images/desk/tongxunlu_lixian.png) no-repeat;width:16px;height:15px;float:left;}

.searchUserDiv{position: absolute;display: none;border: 1px solid gray;background-color: #e8e8e8}
.searchUserDiv div{border-bottom: 1px solid #fff;cursor: pointer;}
.searchUserDiv div:hover{background-color: #4d7b9d;color:#fff;}
.memberBtn{background: url("../../../pics/email/member_btn.gif") no-repeat;width:63px;height:22px;line-height:22px;text-align: center;color:#000;cursor: pointer;margin-bottom:5px;}
.memberBtn:hover{background: url("../../../pics/email/member_btn_hover.gif") no-repeat;}
.memberBorder{border-left: 1px solid #dbdbdb;border-right:1px solid #dbdbdb;}
.memberContainer{background-color: #e7e7e7;margin: 0 1px;}
.memberTitle{border-bottom: 1px solid #fff; padding:3px;}
.mailBlueText{
	color: #0167a2;
	cursor: pointer;
}
a {
	text-decoration: none;
}
a:hover {
	TEXT-DECORATION:underline;
	cursor: pointer;
}
.groupbox{
	cursor: pointer;
	height:30px;
	line-height: 30px;
	padding-left:10px;
	border-bottom: 1px solid #ffffff;
	color:#0167a2;
}
.groupNameDiv{
	cursor: pointer;
	padding-left: 10px;
	height:20px;
	line-height: 20px;
}
.groupNameDiv input{
	vertical-align:middle;
}




/*2012-05-17 add by huangbj*/
.btn_new{
    cursor: pointer;
    text-align: center;
    width: 80px;
 	height: 26px;
	line-height:26px;
	border:none;
	/*margin: 2px;*/
} 

/*orange*/
.btn_ori_new{
    background-color: #f46614;
    color: #FFF;
} 

/*gray*/
.btn_gray_new,.btn_senior_new {
    background-color: #909090;
    color: #FFF;
} 
.btn_gray_new:hover,.btn_senior_new:hover {
    background-color: #666666;
} 

/*blue*/
.btn_blue_new,.btn_save_new,.btn_query_new,.btn_stat_new,.btn_add_new{ 
	background-color: #0072bb;
	color: #FFF; 
} 
.btn_blue_new:hover,.btn_save_new:hover,.btn_query_new:hover,.btn_stat_new:hover{ 
	background-color: #18478D;
} 

/*green*/
.btn_green_new,.btn_export_new,.btn_import_new,.btn_refresh_new,.btn_clean_new,.btn_full_new,.btn_set_new,.btn_close_new,.btn_upload_new{ 
	background-color: #449139;
	/*margin-left:5px;*/
	color: #FFF; 
} 

.btn_green_new:hover,.btn_export_new:hover,.btn_import_new:hover,.btn_refresh_new:hover,.btn_clean_new:hover,.btn_full_new:hover,.btn_set_new:hover,.btn_close_new:hover,.btn_upload_new:hover{ 
	background-color: #006135;
} 

/*red*/
.btn_red_new,.btn_cancel_new,.btn_del_new{ 
	background-color: #ac2727;
	color: #FFF; 
} 
.fLeft{
	float:left;
	margin-left:5px;
}
.fRight{
	float:right;
	margin-right:5px;
}
.pHand{
	cursor:pointer;
}