@CHARSET "UTF-8";

div.search_bar_title {
	float:left;
	padding:0px;
	margin:0px;
	padding-left:10px;
	font-size:14px;
	height:38px;
	width:100%;
	border-bottom:1px solid #8C8F94 ;
}

div.search_bar_condition_single {
	float:left;
	margin:0px;
	font-size:12px;
	padding-left:5px;
	display:inline;
	margin-top:6px;
}

div.search_bar_condition_all{
	float:left;
	height:67px;
	width:2000px;
	padding:0px;
	margin:0px;
	margin-left:-1px;
	display:inline;
}

div.loading{
	text-align:left;
	height:30px;
	line-height:30px;
	background-image:url(../../../resources/images/common/loading.gif);
	background-repeat: no-repeat;
	padding-left:50px;
}

/* 
	公告，新闻，旧公告，旧新闻，员工活动
 	列表公共样式
*/

table.content_table tr th{
	font-size:12px;
	font-weight:normal;
}
table.content_table td div{
	font-size:12px;
	color:#5a5a5a;
	height:26px;
}
div.read_all a ,div.table_pager a , div.table_pager{
	color:#363636;
	font-weight:normal;
}
div.read_all a {
	padding-left:0px;
}
div.read_all {
	padding:0px 5px;
}
