@CHARSET "UTF-8";

html{background: #fff; }
body{font-size:12px;margin:0px auto;padding:0;color:#000;/*background:url(/static/img/background.jpg) no-repeat center -2px*/ background: #fff;}
body div{ margin-left:auto; margin-right:auto;}
div,form,ul,ol,li,span,p{margin:0;padding:0;border:0;}

input[type="button"]{
	cursor: pointer;
	outline: none;
	border: none;
	font-size: 12px;
}

dl,dt,dd,img,a img,
h1,h2,h3,h4,h5,h6{margin:0;padding:0;border:0;}
h1{font:bold 16px/18px "microsoft yahei";}
h2{font-weight:bold;font-size:16px;}
h3{font-weight:bold;font-size:14px;}

ul,ol,li{list-style:none}
table,td,input{font-size:12px}

a{cursor:pointer;/*outline-style:none;*/color:#000/*005197 014CCC #000*/;text-decoration:none;}
a:hover{color:#CC0000; text-decoration:underline;}


.none	{display: none}
.clear {height: 0px;clear: both;}
.clearfix:after{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-table; +display:inline-block;}/* Hides from IE-mac \*/* html .clearfix {height: 1%;}.clearfix {display: block;}
.fl{float: left;}
.fr{float: right}
.fn{float: none;}


.border_hui{border: 1px solid #DCDDDD/*#E5E5E5*/;}
.border_hei{border: 1px solid #333;}

.xline{text-decoration:underline}



.c_000000{color:#000000;}
.c_131313{color:#131313;}
.c_313131{color:#313131;}

.c_396588{color:#396588;}
.c_2C6AA9{color:#2C6AA9}
.c_275C91{color:#275C91}
.c_006699{color:#006699}
.c_0042FF{color:#0042FF;}

.c_red,a.c_red		{color:red;}	   
.c_ff0000,a.c_ff0000{color:#ff0000}
.c_cc1414,a.c_cc1414{color:#cc1414}
.c_bf001f{color:#bf001f}            
.c_525252,a.c_525252{color:#525252;}
.c_a5a5a5,a.c_a5a5a5{color:#a5a5a5;}
.c_666666,a.c_666666{color:#666666;}
.c_999999,a.c_999999{color:#999999;}
.c_gray,a.c_gray	{color:gray;}
.c_yellow,a.c_yellow{color:yellow;}
.c_orange,a.c_orange{color:orange;}
.c_green, a.c_green	{color:green;}

input[type="text"]{background:#fff;}
input.blank,
input.password,
input.text{height:16px;padding:3px;/*border-top:1px solid #333;border-left:1px solid #333; border-bottom:1px solid #CCC; border-right:1px solid #CCC;*/
    border: 1px solid #333;;
    background:#fff;line-height:16px;}
textarea{background:#fff;border: 1px solid #aac0d5;}
textarea.text{padding:2px;border-top:1px solid #333;border-left:1px solid #333; border-bottom:1px solid #CCC; border-right:1px solid #CCC;}
input.blank,
textarea.blank{color:#ccc;background:#fff;}
input.radio,
input.checkbox{margin-right:6px;*margin-right:3px;}
input.file{height:24px;}
button.button{padding:5px 10px;}
label.disabled{color:#ccc !important;cursor:default !important;}
select.box{padding:2px;border:1px solid #333;width: 150px;}

input.required,select.required,textarea.required{border-left:2px solid red;}


button.orange,
button.blue,
button.green,
button.red,
button.gray,a.btn{display:block;border: none;
background: #ffa712;font-size:12px;
color: #FFF;cursor: pointer;
height: 26px; line-height: 24px; width: 80px;
margin-right:5px;
}

button.blue{height:26px; background:#0072bb;}
button.green{height:26px; background:#449139;}
button.red{height:26px; background:#ac2727;}
button.gray{height:26px; background:#666666;}
button.orange{height:26px; background:#f46614;}
button.min{width:65px;}
a.btn{ background:#fff; color:#333333; text-align: center; float: left; border-color: #cccccc; margin-right: 10px;line-height: 26px;}
a.selected,a.btn:hover{background:#026eb6; color:#FFF; text-decoration: none; border-color:#026eb6 }



.informations{ height: 38px;}
.informations p{color:#686765;height:30px;line-height:30px;background:#fee3ce url(../../images/mes/mini-tips.gif) no-repeat 5px 6px; padding-left: 30px;}
.informations p.error{background-position: 5px -25px;}
.informations p.warning{background-position: 5px -55px;}

#warp{}
#header .title1{background: #E4E7EC; border-bottom: 1px solid #8C8F94;}
#header .title1 h2{ width: 200px; float: left; padding-left: 10px;font-size: 14px; height: 38px; line-height: 38px;}
#header .title1 .btns{float: right; padding-right: 10px; margin-top:6px; }
#header .title1 .btns button{float: right;}
#header .condition_panel{margin: 0px; border: 0px; padding: 10px; padding-bottom: 5px; background: #E4E7EC;border-bottom: 1px solid #cccccc; }
#header .condition_panel ul{}
#header .condition_panel ul li.buttons{padding-left: 60px;}
#header .condition_panel ul li.buttons button{float: left; margin-right: 10px;width: 65px;}
#header .condition_panel ul li.category div.box{ border: 1px solid #aac0d5; float: left;width:608px; background: #FFF ;padding:5px;}
#header .condition_panel ul li.category div.box input{width:15px;}
#header .condition_panel ul li.category div.box label{width:45px; text-align: left; padding-left: 2px;}
#header .condition_panel ul li.category span{ display: inline-block;height: 22px;line-height: 22px; float: left; margin-right: 5px;}



#body{padding:0 0px;border: 0px solid red;margin:0 8px;}
#body .title1 {height: 60px; line-height: 60px;}
#body .btns button{float: left;margin-right: 10px; }
