/*翻页控件*/
.pagesNav{
	line-height: 30px;
	height: 30px;
}
.pagesNav *{
	float: left;
}
.pagesNav .fp,.pagesNav .pp,.pagesNav .np,.pagesNav .lp {
	background: url("../../images/common/page.gif") repeat scroll 0 0 transparent;
	border: 1px solid #CCCCCC;
	display: inline-block;
	text-indent: -9999px;
	float: left;
	height: 22px;
	margin: 0 5px 0 0;
	width: 22px;
	padding: 0 !important;
}

.pagesNav input {
	float: left;
	height: 22px;
	margin: 0 5px 0 0;
	width: 22px;
	padding: 0 !important;
}

.pagesNav input {
	border: 1px solid #000;
}

.pagesNav span.fp {
	background-position: -5px -5px;
}

.pagesNav span.pp {
	background-position: -45px -5px;
}

.pagesNav span.np {
	background-position: -85px -5px;
}

.pagesNav span.lp {
	background-position: -130px -5px;
}

.pagesNav a.fp {
	background-position: -5px -50px;
}

.pagesNav a.pp {
	background-position: -45px -50px;
}

.pagesNav a.np {
	background-position: -85px -50px;
}

.pagesNav a.lp {
	background-position: -130px -50px;
}

.pagesNav span.tc,.pagesNav span.ni {
	float: left;
	margin-right: 5px;
}
.pagesNav a:HOVER{
	background-color: #cbcbcb;
}