.TreePanel {
	font-size: 12px;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	white-space: nowrap;
	color: #262626;
	padding-left: 5px;
}

.TreeNode:hover {
	color: #4984AE;
}

.TreePanel img {
	border-right: 0px;
	border-top: 0px;
	vertical-align: middle;
	border-left: 0px;
	border-bottom: 0px;
}

.TreePanel a {
	color: #333;
	text-decoration: none
}

.TreePanel a.node {
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 1px;
	padding-top: 1px;
	white-space: nowrap;
}

.TreePanel a.nodesel {
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 1px;
	padding-top: 1px;
	white-space: nowrap;
}

.TreePanel a.node:hover {
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

.TreePanel a.nodesel:hover {
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

.TreePanel a.nodesel {
	background-color: #c0d2ec;
}

.TreePanel .TreeNode {
	cursor: pointer;
	margin-left: 3px;
}
.TreePanel .TreeNodeNew {
	cursor: pointer;
	margin-left:3px;margin-top:2px;line-height:24px;height:24px;font-size:14px;display:inline-block;padding-left:4px;
}
.TreePanel .TreeNodeNew:hover {
font-weight: bold;
	color: #333;
	text-decoration: none;
}
.TreePanel .TreeNodeByTitle {
	cursor: pointer;
	margin-left:3px;margin-top:2px;line-height:24px;height:24px;font-weight: bold;font-size:14px;display:inline-block;padding-left:4px;
}