.person_search_div {
	height:30px;
	line-height:30px;
	padding-left: 10px;
}

.user_left {
	color:#000000;
	float:left;
	margin-right:10px;
	padding-left:10px;
	width:222px;
}

.memberBtn {
	background:url("../../images/email/member_btn.gif") no-repeat scroll 0 0 transparent;
	color:#000000;
	cursor:pointer;
	height:22px;
	line-height:22px;
	margin-bottom:5px;
	text-align:center;
	width:63px;
}

.memberBorder {
	border-left:1px solid #DBDBDB;
	border-right:1px solid #DBDBDB;
}

.memberContainer {
	background-color:#E7E7E7;
	margin:0 1px;	
}

.memberTitle {
	border-bottom:1px solid #FFFFFF;
	height:20px;
	line-height:20px;	
}

.userRight {
	color:#000000;
	float:left;
	width:129px;
}

ul#userDisplay {
	list-style-type:none;
}

ul#userDisplay li {
	height:20px;
	line-height:20px;
	cursor: pointer;
}

.userSelected {
	background-color:#ABC3D2;
	color:#FFFFFF;
}