.div_address {
	width: 207px;
	padding-bottom: 5px;
	overflow-x:hidden;
	overflow-y:auto;
	/*
	background-color: #6eb1cf;
	color: #fff;
	*/
}

.wab_title {
	cursor:pointer;
	color:#0167a2;
	margin-left:5px;
	float:left;
	font-size:14px;
	/*font-weight: bolder;*/
}
.split_vertial{
	float:right;
	background-image: url('../../../images/desk/wab/split_vertial.gif');
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
}
.address_up {
	float: right;
	width: 50px;
	cursor: pointer;
	background-image: url('../../../images/desk/wab/drop_up_down.gif');
	background-repeat: no-repeat;
	background-position: center 1px;
}

.address_down {
	float: right;
	width: 50px;
	cursor: pointer;
	background-image: url('../../../images/desk/wab/drop_up_down.gif');
	background-repeat: no-repeat;
	background-position: center 1px;
}


.search_input {
	height: 20px;
	width: 187px;
	color:#E6E6E6;
	font-size: 12px;
	border-top: 1px solid #8c8f94;
	border-right: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	border-left: 1px solid #bfbfbf;
	color: #ccc;
	margin: 3px 0px 0 8px;
	line-height:20px;
	padding-left:3px;
	background-image: url('../../../images/desk/wab/search.gif');
	background-position: 164px center;
	background-repeat: no-repeat;
}

.search_user_result {
	width: 192px;/*IE*/
	display: none;
	height: 400px; 
	overflow-y: auto;
	overflow-x: hidden;
	text-align: left;
	margin-left:8px;
	margin-right: 7px;
}

.search_user_result .module {
	margin-bottom: 3px;
	text-decoration: none;
	padding-left: 3px;
}

.search_user_result .module u {
	cursor:pointer;
	line-height: 22px;
}

.search_user_result .module .module_body {
	color: #5A5A5A;
}

.search_user_result .module .module_body div{
	display: inline;
}

.queryMatched {
	background-color: #c5cdd8
}