<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="nwmsSessionFactory">
    	
    	<!-- 测试数据库 -->    	
    	 <!-- 
    	<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">nwms_test</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.0.50/HMG</property>
        <property name="hibernate.connection.username">nwms_test</property>
        <property name="hibernate.default_schema">nwms_test</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>   
         -->
         
        <!-- 优化的wms数据库 -->    	
    	 
    	<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">nwms_test</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.0.40/HMGTECh</property>
        <property name="hibernate.connection.username">nwms_test</property>
        <property name="hibernate.default_schema">nwms_test</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>        
     	     
     	
      	 
    	<!--正式数据库  --> 
    	<!-- 
    	<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">nwms</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@www.hmgtech.com:1521:HMG</property>
        <property name="hibernate.connection.username">nwms</property>
        <property name="hibernate.default_schema">NWMS</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
            -->	
     	
          
        <!-- 
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">nwms</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@www.hmgtech.com:1521:hmg</property>
        <property name="hibernate.connection.username">nwms</property>
        <property name="hibernate.default_schema">NWMS</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>        
        --> 
        
        <!--
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/wms</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        -->
        
        <property name="hibernate.session_factory_name">nWMSSessionFactory</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>
				
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.timeout">0</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.idle_test_period">0</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>	        
    
    	<mapping resource="com/intelitune/nwms/model/Building.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/Column.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/Floor.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/Item.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/Material.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/Order.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/Owner.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/Rate.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/Row.hbm.xml"/>    	         
    	<mapping resource="com/intelitune/nwms/model/Shelflife.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/Tier.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/Unit.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/UnitPackage.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/UnitPackagePair.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/Warehouse.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/Zone.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/Bin.hbm.xml"/>                  
    	<mapping resource="com/intelitune/nwms/model/BuildingState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/ColumnState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/FloorState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/ItemState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/MaterialState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/OrderState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/OwnerState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/RateState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/RowState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/ShelflifeState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/TierState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/UnitState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/UnitPackageState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/UnitPackagePairState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/WarehouseState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/ZoneState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/BinState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/CheckingItemState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/DestroyedItemState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/InboundOrderItemState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/OutboundOrderItemState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/OwnerZoneState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/PickingItemState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/StorageItemState.hbm.xml"/>
    	<mapping resource="com/intelitune/nwms/model/StorageZoneState.hbm.xml"/>
        <mapping resource="com/intelitune/nwms/model/PackingItemState.hbm.xml"/>
        <mapping resource="com/intelitune/nwms/model/InboundRePickItemState.hbm.xml"/>
        <mapping resource="com/intelitune/nwms/model/OutboundRePickItemState.hbm.xml"/>
        <mapping resource="com/intelitune/nwms/model/InboundRePutAwayItemState.hbm.xml"/>
        <mapping resource="com/intelitune/nwms/model/OutboundRePutAwayItemState.hbm.xml"/>
        <mapping resource="com/intelitune/nwms/model/OutboundTxtData.hbm.xml"/>
        <mapping resource="com/intelitune/nwms/model/Invoice.hbm.xml"/>
        <mapping resource="com/intelitune/nwms/model/InvoiceState.hbm.xml"/>
        <mapping resource="com/intelitune/nwms/model/ItemType.hbm.xml"/>
        <mapping resource="com/intelitune/nwms/model/ItemTypeState.hbm.xml"/>
        <mapping resource="com/intelitune/nwms/model/OutboundAssigned.hbm.xml"/>
          
          <mapping resource="com/intelitune/nwms/model/InttRole.hbm.xml"/>
             <mapping resource="com/intelitune/nwms/model/InttUser.hbm.xml"/>
              <mapping resource="com/intelitune/nwms/model/InttUserRole.hbm.xml"/>
 	<mapping resource="com/intelitune/nwms/model/Customer.hbm.xml"/>
         <mapping resource="com/intelitune/nwms/model/InttUserCustomer.hbm.xml"/>

             
    </session-factory>
   
</hibernate-configuration>
