.header_shu{
	float:left;
	width:3px;
	height:53px;
	margin-top:1px;
	background-image:url("../../images/desk/top_cutline.jpg");
	background-repeat:no-repeat;
	background-position: center;
}
.header_btn_main{
	width:86px;
	height:54px;
	float:left;
	line-height:54px;
	cursor:pointer;
	text-align: center;
}
.header_btn_main_hover{
	width:86px;
	height:64px;
	float:left;
	line-height:54px;
	cursor:pointer;
	text-align: center;
	background-image:url("../../images/desk/top_btn_hover.jpg");
	background-repeat:no-repeat;
	background-position: top;
}

ul { list-style: none outside; }
a { 
	text-decoration: none; 
	outline: none;
	color: #335588;
}
a:hover {
	text-decoration: underline;
}
/* 导航菜单 START */
/* 菜单顄1�7 */
.menubar ul.menus li {
	float:left; /* 靠左浮动 */
	list-style:none; /* 清空列表风格 */
	margin-right:1px; /* 右侧的间隄1�7 */
}
/* 菜单项链掄1�7 */
.menubar ul.menus li a {
	padding:0 10px; /* 内边跄1�7 */
	display:block; /* 显示为块 */
	text-decoration:none; /* 没有下横纄1�7 */
	white-space:nowrap;
	overflow:hidden;
	
}
/* 当前菜单位置 */
.second_menu,.third_menu {
	position:absolute;
	z-index: 50;
}
.second_menu{
	#margin-left:-90px;
	top:50px;
}
.third_menu{
	top:0;
	left:110px;
	padding-left: 2px;
	background-color: #fff;
}
.third_menu ul{
	border:1px solid #8c8f94;
}
.childrenIframe{
	display:none;
	top:50px;
	margin-left:-90px;
	position:absolute;
	z-index: 49;
	width:86px;
	height:auto;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

/* 选中菜单项链掄1�7 */
.menubar ul.menus li:hover {
	background-color: #e4e7ec;
}
/* 二级菜单 */
.menubar ul.second_menu {
	display:none; /* 初始化页面时不显示出杄1�7 */
	margin-top: 10px;
	border:1px solid #8c8f94;
	
}
/* 二级菜单的菜单项 */
.menubar ul.second_menu li {
	float:none; /* 垂直排列 */
	margin:0;
	padding:0;
	border:1px solid #fff;
}
.menubar ul li{
	height:24px;
	line-height: 24px;
	background-color: #fff;
}
/* 二级菜单的当前菜单项链接 */
.menubar ul li a {
	width:90px; /* 寄1�7 IE6 来说十分很重覄1�7 */
	color:#363636;
	cursor: pointer;
}
.menubar ul li a:hover{
	color:#0167a2;
	text-decoration: underline;
}
/*菜单样式*/
.menubar_menu{
	margin-top: 18px;
	margin-left: 1px;
}
.onmouseover_menu{
  background-image:url("../../images/desk/top_btn_hover.jpg");
}
.muti_menu{
	float:left;
	background-image:url("../../images/treePanel/triangle_right.gif");
	background-position: 90px 10px;
	background-repeat: no-repeat;
}