.loginForm>div {
	margin-bottom: 10px;
}

body {
	margin: 0 5px;
}

#div_logo {
	background-image: url('../../images/wap/logo_powerlong_205_60.gif');
	width: 252px;
	height: 70px;
	margin: 10px 0;
	background-repeat: no-repeat;
}


#div_btn_login {
	background-color: #006fb6;
	width: 130px;
	height: 50px;
	cursor: pointer;
	line-height: 50px;
	text-align: center;
	float: left;
}

#div_btn_gotoweb {
	background-color: #a5c560;
	width: 130px;
	height: 50px;
	cursor: pointer;
	line-height: 50px;
	text-align: center;
	float: left;
	margin-left: 4px;
}

.btn_font {
	font-size: 18px;
	color: #fff;
	border: none;
	background: none;
	cursor: pointer;
}

.input_text {
	width: 260px;
	height: 26px;
}