body {
	font-size: 12px;
}

.title_bar {
	background-color: #E4E7EC;
	border-bottom: 1px solid #8C8F94;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
}

.title_bar_h {
	color: #363636;
	float: left;
	font-size: 14px;
	margin-left: 5px;
	padding-right: 5px;
}

.plan_list {
	table-layout: fixed;
	text-align: left;
	width: 100%;
}

.plan_list { table-layout: fixed; width: 100%; text-align: left; }
.plan_list tr { cursor: pointer; }
.plan_list tr.header th {
	padding-left: 4px;
	font-size: 14px;
	color: #5B6B83;
	height: 24px;
	line-height:24px;
	border-bottom: 1px solid #8c8f94;
	cursor: default;
	text-align: left;
	background:url('../../images/plan/split_vertial_thin.gif') no-repeat right center;
}
.plan_list tr td {
	height: 24px;
	border-bottom: 1px solid #dddbdc;
	vertical-align: middle;
}
.plan_list tr.item:hover {
	background-color: #f3f3f3;       
}
.plan_list tr.item:hover td {
	color: #40a3de;
}
.plan_list tr.item:hover td:hover {
	background-color: #e1e1e1;
}
.plan_list tr.detail { 
	display: none; 
	background-color: #f7f7f7;
}
.project_row_item{
	background-color:#E4E7EC;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
	line-height:24px;
	padding-left:25px;
	vertical-align:middle;
}
.project_row_item span{
	padding-left: 5px;
	padding-right: 5px;
}
.first_col{
	text-align: center;
}