.inputfileds {
	background: #eaeaea;
	color: #000;
	border: #cccccc 0px solid;
}

#changColorDiv {
	margin: 0px auto;
	padding-top: 3px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 90px;
	height: 80px;
	z-index: 1;
	display: none;
}

.liChecked {
	border: 1px solid #CCC
}

.divyellow{background-color:#fff000}
.divred{background-color:#ac2727}
.divgreen{background-color:#53b147}
.divtext{background-color: white;}
font.tyellow{background-color:transparent;}
font.tgreen{background-color:transparent;}
font.tred{background-color:transparent;}
#changColorDiv ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#changColorDiv ul li {
	float: left;
	font-size: 14px;
	margin: 0px;
	margin-bottom: 5px;
	cursor: pointer;
	line-height: 20px;
	width: 28px;
}

#mainContent {
	width: 100%;
	margin: auto;
	background: #fff;
}

.pagebtn {
	background: #666;
	border: 0px;
	color: #fff;
	cursor: pointer;
	float: left;
	font: 12px Arial, Sans-serif, "Î¢ÈíÑÅºÚ";
	line-height: 22px;
	list-style: none;
	margin: 0px;
	margin-right: 5px;
	padding: 0px;
	text-align: center;
	width: 65px;
	margin-left: 5%;
	margin-top: 5px;
	display: inline;
}
.searchTitle{ padding: 0px; padding-left: 5px;font-size: 12px;line-height: 20px;}
.searchTitle label{font-weight: bold;}
.datePickerBox{width: 60px;height: 20px;background-color:#CCC;padding-left:5px; font-size: 12px;border:0px;vertical-align:top;}