.ellipsisDiv_full{
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	height:25px;
	line-height: 25px;
}
.res_tip {
	text-align: left;
	margin: 10px 0;
	width: 95%;
	color: red;
	background-image: url('${ctx}/resources/images/res/res_tip.png');
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding: 8px 0;
	line-height: 22px;
}
table.outerTable {
	width: 100%;
	border: solid #8c8f94;
	border-width: 1px 0px 0px 1px;
}
table.outerTable th{
	word-wrap: break-word;
	border: solid #8c8f94;
	background-color: #DDDBDC;
	border-width: 0px 0px 0px 0px;
	line-height: 50px;
	
}
table.outerTable td{
	word-wrap: break-word;
	border: 0px;
	line-height: 25px;
	
}

table.innerTable {
	width: 100%;
	border: 0px;
}
table.innerTable .headTr td{
	background-color: #c3c7ca;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid #dddbdc;
	line-height: 38px;
	text-align: center;
	color: #464646;
}
table.innerTable td {
	word-wrap:break-word;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid #dddbdc;
	line-height: 25px;
	text-align: right;
	color: #5a5a5a;
}
table.innerTable th {
	word-wrap:break-word;
	background-color: #E4E7EC;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid #dddbdc;
	line-height: 25px;
	text-align: right;
	color: #464646;
}