@charset "utf-8";
/*新版前台界面图标 start -------------======================================*/
/*常用模块 start*/
/*网上审批图标*/
.pic_common_small{
	background-position:11px 5px;
	background-repeat:no-repeat;
	padding-left: 8px;
}
.approve_common{
	background:transparent;
	background-image:url("../../images/desk2/desk_res.png");
	background-position:40px 49px;
	background-repeat:no-repeat;
	padding-left: 36px;
}
/*会议室预定古北*/
.meeting_gb_common{
	background:transparent;
	background-image:url("../../images/desk2/home/meeting_gb.png");
	background-position:11px 5px;
	background-repeat:no-repeat;
	padding-left: 8px;
}
/*会议室预定上海城*/
.meeting_sh_common{
	background:transparent;
	background-image:url("../../images/desk2/home/meeting_sh.png");
	background-position:11px 5px;
	background-repeat:no-repeat;
	padding-left: 8px;
}

.glzs_common{
	background:transparent;
	background-image:url("../../images/desk2/home/labour_value.png");
	background-position:11px 5px;
	background-repeat:no-repeat;
	padding-left: 8px;
}

.jd_common{
	background:transparent;
	background-image:url("../../images/desk2/home/hotel_purchase_data.png");
	background-position:11px 5px;
	background-repeat:no-repeat;
	padding-left: 8px;
}

.jdtz_common{
	background:transparent;
	background-image:url("../../images/desk2/home/hotel_cont_book.png");
	background-position:11px 5px;
	background-repeat:no-repeat;
	padding-left: 8px;
}
.jdhoe_common{
	background:transparent;
	background-image:url("../../images/desk2/home/hotel_hoe_lib.png");
	background-position:11px 5px;
	background-repeat:no-repeat;
	padding-left: 8px;
}
/*新版前台界面图标 end -------------======================================*/



































/*项目开发计划图标*/
.project_plan{
	background:transparent;
	background-image:url("../../images/desk2/desk_develop.png");
	background-position:24px 24px;
	background-repeat:no-repeat;
}
/*项目设计计划图标*/
.design_plan{
	background:transparent;
	background-image:url("../../images/desk2/desk_design.png");
	background-position:6px 22px;
	background-repeat:no-repeat;
}
/*商业执行计划图标*/
.business_plan{
	background:transparent;
	background-image:url("../../images/desk2/desk_act.png");
	background-position:60px 20px;
	background-repeat:no-repeat;
}
/*供应商管理图标*/
.supplier_plan{
	background:transparent;
	background-image:url("../../images/desk2/add_image.png");
	background-position:30px 14px;
	background-repeat:no-repeat;
}
/*项目招采计划图标*/
.project_purchase_plan{
	background:transparent;
	background-image:url("../../images/desk2/desk_zc.png");
	background-position:6px 18px;
	background-repeat:no-repeat;
}
/*商业管理系统图标*/
.business_manage_plan{
	background:transparent;
	background-image:url("../../images/desk2/desk_bis.png");
	background-position:40px 49px;
	background-repeat:no-repeat;
	padding-left: 36px;
}
/*商家库图标*/
.business_lib_plan{
	background:transparent;
	background-image:url("../../images/desk2/desk_firefox.png");
	background-position:6px 23px;
	background-repeat:no-repeat;
}
/*基础数据维护图标*/
.base_data_plan{
	background:transparent;
	background-image:url("../../images/desk2/desk_data.png");
	background-position:30px 20px;
	background-repeat:no-repeat;
}
/*酒店采购数据图标*/
.hotel_data_plan{
	background:transparent;
	background-image:url("../../images/desk2/desk_stock.png");
	background-position:22px 24px;
	background-repeat:no-repeat;
}
/*日记帐图标*/
.diary_curtain_plan{
	background:transparent;
	background-image:url("../../images/desk2/desk_daybook.png");
	background-position:6px 24px;
	background-repeat:no-repeat;
}
/*现金流图标*/
.cash_data_plan{
	background:transparent;
	background-image:url("../../images/desk2/desk_cash.png");
	background-position:22px 16px;
	background-repeat:no-repeat;
}
/*blue start*/
.area_light_blue{
	/*background-color:#5fbcea;*/
	/*background-color:#009de0;*/
	/*background-color:#2d8bef;*/
	background-color:#82bae9;
	cursor: pointer;
}
.area_light_blue_disabled{
	/*background-color:#009de0;*/
	background-color:#2d8bef;
}
.area_light_blue_noright{
	background-color:#CBCBCB;
}
.area_light_blue_other_noright{
	background-color:#909090;
}
.area_light_blue:HOVER{
	/*background-color:#38AEE8;*/
	/*background-color:#00638f;*/
	background-color:#277cd7;
}


.area_deep_blue{
	/*background-color:#007db3;*/
	background-color:#0072bb;
	cursor: pointer;
}
.area_deep_blue_disabled{
	/*background-color:#007db3;*/
	background-color:#0072bb;
}
.area_deep_blue:HOVER{
	/*background-color:#00638f;*/
	background-color:#18478d;
}


.area_other_blue{
	/*background-color:#5fbcea;*/
	/*background-color:#009de0;*/
	/*background-color:#2d8bef;*/
	background-color:#54b147;
	cursor: pointer;
}
.area_other_blue_disabled{
	/*background-color:#009de0;*/
	background-color:#54b147;
}
.area_other_blue_noright{
	background-color:#959595;
}
.area_other_blue:HOVER{
	/*background-color:#38AEE8;*/
	/*background-color:#00638f;*/
	background-color:#449139;
}


.area_other_deep_blue{
	/*background-color:#5fbcea;*/
	/*background-color:#009de0;*/
	/*background-color:#2d8bef;*/
	background-color:#006135;
	cursor: pointer;
}
.area_other_deep_blue_disabled{
	/*background-color:#009de0;*/
	background-color:#54b147;
}
.area_other_deep_blue_noright{
	background-color:#959595;
}
.area_other_deep_blue:HOVER{
	/*background-color:#38AEE8;*/
	/*background-color:#00638f;*/
	background-color:#02592B;
}



/*blue end*/



