@CHARSET "UTF-8";
.main_input_content {
	padding: 0 5px 0 5px;
}

.main_first_col {
	padding-left: 5px;
}


.full_screen {
	background-image: url(../../images/plan/btn_full.gif);
	background-position: 3px center;
	background-repeat: no-repeat;
	cursor: pointer;
	padding-left: 30px;
	padding-right: 3px;
	line-height: 26px;
	height: 26px;
}

.full_screen:hover {
	background-color: white;
}

.split_vertial {
	background-image: url(../../images/common/btn_cutline_3_26.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

.btn_agree {
	background-color: transparent;
	background-image: url("../../images/common/btn_blue_55_20.gif");
	background-position: center center;
	background-repeat: no-repeat;
	color: #FFFFFF;
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 55px;
}

.btn_apply {
	background-color: transparent;
	background-image: url("../../images/common/btn_blue_55_20.gif");
	background-position: center center;
	background-repeat: no-repeat;
	color: #FFFFFF;
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 55px;
}

.btn_reject {
	background-color: transparent;
	background-image: url("../../images/common/btn_red_35_20.gif");
	background-position: center center;
	background-repeat: no-repeat;
	color: #FFFFFF;
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 55px;
}

.res_tip {
	text-align: left;
	margin: 10px 0;
	width: 95%;
	color: #5a5a5a;
	background-color: #fee3cd;
	background-image: url('../../images/res/res_tip.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 8px 0;
	line-height: 22px;
}


.res_tip div ol {
	margin: 0;
	padding: 0;
}

.res_tip .spread{
	background-image: url('../../images/res/spread.gif');
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
	vertical-align: middle;
}

.res_tip .spread:hover{
	background-image: url('../../images/res/spread_over.gif');
	background-repeat: no-repeat;
	background-position: right center;
}

.res_tip .packup{
	background-image: url('../../images/res/packup.gif');
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
	vertical-align: middle;
}

.res_tip .packup:hover{
	background-image: url('../../images/res/packup_over.gif');
	background-repeat: no-repeat;
	background-position: right center;
}
.divSteps *{
	text-align: left;
	font-size: 12px;
}