body {
	padding: 0px;
	margin: 0px;
	background-color: #F9F9F9;
	font-family:"宋体";
	line-height: 20px;
	font-size: 12px;
	scrollbar-face-color:#C0C0C0;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#C0C0C0;
	scrollbar-darkshadow-color:#737373;
	scrollbar-shadow-color:#a6a6a6;
	scrollbar-arrow-color:#696969;
	scrollbar-track-color:#e0e0e0;
}
html {
	background-color: #FFF;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

input,select,textarea {
	padding: 0;
	margin: 0;
}

fieldset {
	padding: 5px;
	margin-top: 1px;
	border: 1px solid #A4CDF2;
	background: #fff;
}

fieldset legend {
	color: #1E7ACE;
	font-weight: bold;
	padding: 1px 10px;
	border: 1px solid #A4CDF2;
	background: #fff;
}

fieldset label {
	float: left;
	width: 120px;
	text-align: right;
	padding: 4px;
	margin: 1px;
}

fieldset div {
	clear:none;
	margin-bottom: 2px;
}

table {
	table-layout: fixed;
	empty-cells: show;
	border-collapse: collapse;
	/*margin: 0 auto;*/
}

th {
	text-align: left;
}
.link{
	font-size: 12px;
	color: #0693e3;
	text-decoration: underline;
}

.link:hover {
	cursor: pointer;
}

img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	display: inline;
}

.search {
	width: 95%; 
	margin: 0px 5px 5px 5px;
}

.search input[type="text"],.search select {
	width: 100%; 
}
.search td {
	padding: 3px 10px 0 0px;
}
div {
	margin: 0;
	padding: 0;
}

.buttom {
	border:1px solid #FFFFFF;
	background-color:#21577a;
	color:#FFFFFF;
	cursor: pointer;
	font-size:12px;
	font-weight:bold;
	margin-left:5px;
	padding:3px;
	text-align:center;
	text-decoration:none;
	line-height: 20px;
}

.buttom:HOVER {
	background: #55eedd;
}

.clear {
	clear: both;
}

table.tb_approver{
	margin-bottom: 10px;
}
table.tb_approver .approver {
	text-align:right;
	border:none;
	padding:0;
}
table.tb_approver td {
	padding: 0 5px ;
	margin:0;
}
table.tb_approver tr{
	height: 30px;
}
table.mainTable {
	width: 95%;
	border: 2px solid #cccccc;
}
table.mainTable input:focus{
	background-color: #ffffe1;
	border: 1px solid #dbdbdb;
}
table.mainTable textarea:focus{
	background-color: #ffffe1;
	border: 1px solid #dbdbdb;
}
table.mainTable tr{
	height: 30px;
}
table.mainTable .td_title{
	text-align: right;
	color:#333333;
}
table.mainTable td{
	word-wrap: break-word;
	padding: 0 5px ;
	margin:0;
	color: #000;
	border: 1px solid #dbdbdb;
}
table.mainTable th {
	word-wrap: break-word;
	padding: 0 5px ;
	margin:0;
	color: #000;
	font-weight:bold;
	border: 1px solid #dbdbdb;
}
table.mainTable input[type="file"],table.mainTable input[type="text"] {
	width: 100%;
	height: 100%;
}
table.mainTable input[type="checkbox"]{
	
}
.search_input {
	background-image:url("../resources/images/desk/wab/search.gif");
	background-position:285px center;
	background-repeat:no-repeat;
	border-color:#8C8F94 #BFBFBF #BFBFBF;
	border-style:solid;
}
.inputBorderNoTip{
	border: 0;
	background-color:#DBE5F1;
	text-align :left;
	padding: 4px 0;
	color: #000;
}
.inputBorder,.inputBorderOther{
	border: 0;
	background-color:#DBE5F1;
	text-align :left;
	padding: 4px 0;
	color: #000;
}

.inputBorder[readonly="readonly"]{
	background-color: #dddbdc;
}
.inputBorderApprover{
	border: 1px solid #cccccc;
	background-color:#DBE5F1;
	width:100%;
	padding: 4px 0;
}
table.tb_noborder{
	width:100%;
}
table.tb_noborder td {
	border:none;padding:0;
	text-align: left;
}
table.tb_inner{
	border:none;
	width:100%;
}
table.tb_inner td {
	padding:0;
	text-align: left;
}
table.tb_checkbox{
	border:none;padding:0;
}
table.tb_checkbox td {
	border:none;padding:0;
	text-align: left;
}
table.mainTable input[readonly="readonly"] {
	background-color: #dddbdc;
}

table.mainTable select {
	width: 100%;
}

table.mainTable textarea {
	width: 100%;
	font-size:12px;
}

table.commonTable {
	border: 1px solid #cad9ea;
	color: #666;
	margin-left: 5px;
}

table.commonTable th {
	background-image: url(../images/th_bg1.gif);
	background-repeat: : repeat-x;
	height: 25px;
}

/**/
table.commonTable td,table.commonTable th {
	word-wrap: break-word;
	border: 1px solid #cad9ea;
	padding: 0 5px;
}
/*显示表格的超链接颜色*/
.commonTable>tbody>Tr:hover {
	color: #ffffff;
	/*cursor: pointer;*/
	background-color: #9a9fa6;
}
.commonTable .detailTr:hover {
	color: #666;
	cursor: default;
	background-color: #FFF;
}
.split {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 2px;
	font-size: 12px;
}
.divTreeP{
	border: 1px solid #aaabb0;
	overflow-x:scroll;
}
.divContent{
	border: 1px solid #aaabb0;
}
.part{
	background-color:#e4e7ec;
	color:#363636;
	/*border-bottom:1px solid #8c8f94;*/
}
.error {
	color: red;
	border: 2px solid red;
}
table.mainTable .error {
	color: red;
	border: 2px solid red;
}
table.mainTable .error *{
	color: red;
}
.required{
	border-left:2px solid red;
}
.require{
	color: red;
}
table.mainTable .required{
	border-left:2px solid red;
}
@media print{
  .noprint{display:none;}    
  .divTreeP{display:none;}    
  #tree-div{display:none;}   
  body {
	font-size:15px;
	}
}    
.paging{page-break-after :always}    
.subject{
	font-family:"宋体";
	font-weight:bold;
	font-size: 26px;
	line-height: 40px;
	}
	
.full_screen {
	background-image: url("../resources/images/common/btn_full_white.gif");
	background-position: 0px center;
	background-repeat: no-repeat;
	cursor: pointer;
	padding-left: 30px;
	padding-right: 4px;
	line-height: 26px;
	height: 26px;
}

.searchUserDiv{z-index:9; position: absolute;display: none;border: 1px solid gray;background-color: #e8e8e8}
.searchUserDiv div{border-bottom: 1px solid #fff;cursor: pointer;}
.searchUserDiv div:hover{background-color: #4d7b9d;color:#fff;}


.btn_mylist {
	background-color: transparent;
	background-image: url("../resources/images/res/btn_mylist_blue.gif");
	background-position: center center;
	background-repeat: no-repeat;
	color: #FFFFFF;
	cursor: pointer;
	height: 26px;
	line-height: 26px;
	text-align: center;
	width: 86px;
}

.btn_assistant {
	background-color: transparent;
	background-image: url("../resources/images/res/btn_assistant_green.gif");
	background-position: center center;
	background-repeat: no-repeat;
	color: #FFFFFF;
	cursor: pointer;
	height: 26px;
	line-height: 26px;
	text-align: center;
	width: 86px;
}

.list_header2 {
	color: #363636;
	font-size: 12px;
	font-weight: bolder;
	line-height: 24px;
	height: 24px;
	border-top-width:2px;
	border-top-color:#9db7c6;
	border-top-style:solid;
	margin: 0 10px;
}
.list_header {
	color: #363636;
	font-size: 12px;
	font-weight: bolder;
	line-height: 24px;
	height: 24px;
	border:none;
	margin: 0 10px;
	padding-left: 20p;
}
.list_header_img{
	float:left;padding:7px 10px 0 10px ;
}
.contentTextArea{
	height: 100px;
	margin: 2px 0;
}
.orgDiv{
	text-align :left;
	margin:5px 0;
	background-color:#DDDBDC;
}
.orgDiv *{
	margin:5px 0;
}
.xheditor-simple{
	height: 200px;	
}
.footTip{
	font-size: 12px;
	color: red;
	text-align: left;
}
input[type="checkbox"]{
	vertical-align:middle;
	/*margin-left: 25px;*/
}
.checkbox{
	margin-right: 25px;
}

#quickSearchPanel div.quickSenior{
	color: white;
	padding:5px;
	background-image: url("../resources/images/res/search_senior.gif");
	background-repeat:no-repeat;
	background-position: 5px 5px;
	cursor: pointer;
}
#quickSearchPanel div.quickSeniorHover{
	background-image: url("../resources/images/res/search_senior_hover.gif");
}
#quickSearchPanel div.quickTitle{
	color: #464646;
	float:right;
	padding:5px;
}
#quickSearchPanel .quickItem{
	padding:5px;
	color: #0167a2;
	float:right;
}
#quickSearchPanel div.quickItem:hover{
	cursor: pointer;
	padding:5px;
	text-decoration: underline;
}

.addApprove{
	background-image: url("../resources/images/res/add_approve_enable.gif");
	background-repeat:no-repeat;
	cursor: pointer;
	color: white;
	padding:0 5px 0 20px;
	border:0;
}


.searchNextNoActive{
	background-image: url("../resources/images/res/search_next_noactive.jpg");
	background-position: 5px center;
	background-repeat:no-repeat;
	cursor: pointer;
	color: white;
	border:0;
}
.searchNextActive{
	background-image: url("../resources/images/res/search_next_active.jpg");
	background-position: 5px center;
	background-repeat:no-repeat;
	cursor: pointer;
	color: white;
	border:0;
}
.inputBorder_readOnly{
	border: 0;
	background-color:#DDDBDC;
	text-align :left;
	margin: 4px 0;
}

.cost-nav{
	list-style-type:none;
	height:30px;
	padding-left:5px;
	font-size:14px;
}
.cost-nav li{
	float:left;
	height:20px;
	line-height:20px;
	padding:0 0px;
	margin:5px 5px 5px 0;
	border:1px solid #DDDBDC;
	cursor:pointer;
}
.cost-nav li:hover{
	background-color:#0167A2;
	color:#fff;
}
.cost-nav-click{
	background-color:#0167A2;
	color:#fff;
}
.highlight {
    color: red;
}
.approveTable{
	table-layout: fixed;
	width: 100%;
	padding: 0 0px 0 0px;
	color:#000;
	empty-cells:show;
}
.approveTable td {
	border:none;
	padding-left: 5px;
}
.approveTable tr.passTr {
	background-color: #eeeeee; 
}
.approveTable tr.curTr {
	background-color: #fff; 
	font-size: 12px;
	color: #000;
}
.approveTable tr:hover{
	background-color: #ffffe1;
}
.approveTable .curTr td:first-child{
	background-color:#fb9032;color:#fff;
}
.approveTable .curTr td{
	color:#000;
}
.approveTable .futureTr {
	background-color: #fff; 
}
.approveTable .futureTr td:first-child{
	background-color: #eeeeee; 
}
.approveTable .bottom {
	border-bottom: #BFC4C8 1px solid;
}
.approveTable td.approveName {
	font-size: 12px;
	font-weight: bold;
	color: #1e5494;
}
.approveTable td {
	font-size: 12px;
	color: #000;
}
.approveTable .approveLine {
	font-size: 12px;
	color: #0693e3;
	text-decoration: underline;
}
.approveTable .approveOption {
	font-size: 12px;
	color: #333333;
	padding-top: 4px;
	padding-bottom: 16px;
}
.approveTable .approveOptionTr:hover{
	background-color: #ffffe1;
}
.divNoPrint div{
	background-color: #eeeeee;
}
.msgTable{
	width: 100%;
}
.msgTable span{
	color:#000;
}
.msgTable .repDiv{
	clear:both;border:1px solid #dddbdc;background-color:#ffffee;
	padding:5px 5px 5px 20px;
}
.msgTable .repDiv div{
	background-color:#ffffee;
}
.divProcess{
	margin-left: 20px; padding-bottom: 8px; padding-right: 10px;
}
.divProcess div{
	margin: 2px 0;
    padding: 0 4px;
    float:left;
}
.divProcess .divCurNode{
	background-color:#fb9032;color:#fff;
}
.divProcess .divNode{
	background-color:#eeeeee;
}
.divProcess .arrow{
	float:left;
}
.titleBar{
	margin: 0;
	padding: 0;
}
.ul_none li{
	list-style: none;
}