@CHARSET "UTF-8";

* {
	padding: 0;
	margin: 0;
}
html {
	font-size: 12px;
	background-color: #FFF;
	scrollbar-face-color:#C0C0C0;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#C0C0C0;
	scrollbar-darkshadow-color:#737373;
	scrollbar-shadow-color:#a6a6a6;
	scrollbar-arrow-color:#696969;
	scrollbar-track-color:#e0e0e0;
}
body{
	margin:2px;
	
}
button{
	cursor: pointer;
	outline: none;
	border: none;
}
textarea{
	overflow: auto;
}
img{
	border: none;
}
table{
	border-collapse: collapse;
	border: none;
	table-layout: auto;
	word-wrap: break-word;
}
a{
	text-decoration: none;
	color: inherit;
}
.color_blue{
	color: #0167a2;
}
.color_red{
	color: #ff0012;
}

/*控制显示文本长度，超过就用...代替*/
.ellipsisDiv{
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	max-width: 85%;
}
.ellipsisDiv_full{
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	max-width: 95%;
}

/*中间部分的带园边的背景*/
.pagebody_corner_tl{
	float:left;
	width:5px;
	height:5px;
	background-image: url('../images/news/corner_tl.gif');
	backbround-repeat:no-repeat;
}
.pagebody_corner_tr{
	float:right;
	width:5px;
	height:5px;
	background-image: url('../images/news/corner_tr.gif');
	backbround-repeat:no-repeat;
}
.pagebody_corner_tc{
	margin: 0px 5px;
	border-top: 1px solid #dbdbdb;
	height:2px;
}
.pagebody_corner_tc2{
	margin: 0px 5px;
	height:2px;
	background-color: #e6e6e6;
}
.pagebody_corner_bl{
	float:left;
	width:5px;
	height:5px;
	background-image: url('../images/news/corner_bl.gif');
	backbround-repeat:no-repeat
}
.pagebody_corner_br{
	float:right;
	width:5px;
	height:5px;
	background-image: url('../images/news/corner_br.gif');
	backbround-repeat:no-repeat;
}
.pagebody_corner_bc{
	margin: 0px 5px;
	border-bottom: 1px solid #dbdbdb;
	height:4px;
}
.pagebody_c_border{
	background-color:#ffffff;
}

/*内页的标题*/
.title_bar{
}
/*搜索栏*/
.search_bar{
	margin: 0px 2px;
	padding-left: 4px;
	line-height: 28px;
	background-color: #e6e6e6;
}
/*内容的列表样式*/
table.content_table{
	table-layout: fixed;
	width: 97%;
	text-align: left;
}
table.content_table tr th{
	padding-left: 4px;
	font-size: 14px;
	font-weight: bolder;
	color: #5a5a5a;
	height: 20px;
	line-height: 20px;
	vertical-align: bottom;
	border-bottom: 1px solid #dbdbdb;
	background:url('../pics/email/mail_title_line_temphight.jpg') no-repeat right bottom;
}
table.content_table tr td{
	padding-left: 4px;
}
table.content_table .mainTr td{
	color: #161616;
	cursor: pointer;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #e3e3e3;
}
table.content_table .mainTr:hover td{
	background-color: #eee;
	color: #40a3de;
}
table.content_table .mainTr td:hover{
	background-color: #e1e1e1;
}
table.content_table .detailTr{
	background-color: #f7f7f7;
}
table.detailInnerTable tr td{
	height:25px;
	margin: 4px 0px 4px 0px;
}
/*内容列表的列表信息，显示在最下方*/
.table_info{
	margin: 0px 8px;
	height: 24px;
	width: 100%;
	position: absolute;
	bottom: 10px;
}
/*全部已读*/
.read_all{
	float: left;
	display: block;
	margin-left: 10px;
	height: 24px;
}
.read_all a{
	color: #000;
	text-decoration: none;
	font-weight: bold;
	background-image: url("../images/desk2/read_all.gif");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
	height: 24px;
	line-height: 24px;
}
/*分页的信息*/
.table_pager{
	float: right;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	margin-right: 40px;
}
.table_pager a{
	color: #000;
	text-decoration: none;
}
.table_pager input{
	border: 1px solid #000;
	height: 34px;
}
/*没有搜索结果*/
.noResult{
	width:100%;
	text-align:center;
}
/*各种按钮*/
.btn2{
	width: 50px;
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/news/btn2.gif');
	background-repeat:no-repeat;
	background-position: center;
	color: #FFF;
	cursor:pointer;
}
.btn2_hover{
	width: 50px;
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/news/btn2_hover.gif');
	background-repeat:no-repeat;
	background-position: center;
	color: #FFF;
	cursor:pointer;
}
.btn3{
	width: 60px;
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/news/btn3.gif');
	background-repeat:no-repeat;
	background-position: center;
	color: #FFF;
	cursor:pointer;
}
.btn3_hover{
	width: 60px;
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/news/btn3_hover.gif');
	background-repeat:no-repeat;
	background-position: center;
	color: #FFF;
	cursor:pointer;
}
.btn4{
	width: 90px;
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/news/btn4.gif');
	background-repeat:no-repeat;
	background-position: center;
	color: #FFF;
	cursor:pointer;
}
.btn4_hover{
	width: 90px;
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/news/btn4_hover.gif');
	background-repeat:no-repeat;
	background-position: center;
	color: #FFF;
	cursor:pointer;
}
.btn_search{
	width: 60px;
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/news/btn_search.gif');
	background-repeat:no-repeat;
	background-position: center;
	color: #FFF;
	cursor:pointer;
}
.btn_search_hover{
	width: 60px;
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/news/btn_search_hover.gif');
	background-repeat:no-repeat;
	background-position: center;
	color: #FFF;
	cursor:pointer;
}
.btn_cancel{
	width: 60px;
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/news/btn_cancel.gif');
	background-repeat:no-repeat;
	background-position: center;
	color: #FFF;
	cursor:pointer;
}
.btn_cancel_hover{
	width: 60px;
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/news/btn_cancel_hover.gif');
	background-repeat:no-repeat;
	background-position: center;
	color: #FFF;
	cursor:pointer;
}
.btn_add{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_add.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_add_hover{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_add_hover.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_full{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_full.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_full_hover{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_full_hover.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_excel{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_excel.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_excel_hover{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_excel_hover.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_refresh{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_refresh.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_refresh_hover{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_refresh_hover.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_plan{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_plan.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_plan_hover{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_plan_hover.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_finish{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_finish.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_finish_hover{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_finish_hover.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_all{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_all.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_all_hover{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_all_hover.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_plan_search{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_search.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_plan_search_hover{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../images/plan/btn_search_hover.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_publish{
	width: 50px;
	height: 50px;
	line-height: 50px;
	background-color: transparent;
	background-image: url('../images/plan/btn_publish.gif');
	background-repeat: no-repeat;
	background-position: center;
	cursor:pointer;
	text-align: center;
	color: #fff;
}
.btn_publish_hover{
	width: 50px;
	height: 50px;
	line-height: 50px;
	background-color: transparent;
	background-image: url('../images/plan/btn_publish_hover.gif');
	background-repeat:no-repeat;
	background-position: center;
	cursor:pointer;
	text-align: center;
	color: #fff;
}
.btn_37_21{
	width: 37px;
	height: 21px;
	line-height: 21px;
	background-color: transparent;
	background-image: url('../images/plan/btn_37_21.gif');
	background-repeat: no-repeat;
	background-position: center;
	cursor:pointer;
	text-align: center;
	color: #fff;
}
.btn_37_21_hover{
	width: 37px;
	height: 21px;
	line-height: 21px;
	background-color: transparent;
	background-image: url('../images/plan/btn_37_21_hover.gif');
	background-repeat:no-repeat;
	background-position: center;
	cursor:pointer;
	text-align: center;
	color: #fff;
}
.btn_50_21{
	width: 50px;
	height: 21px;
	line-height: 21px;
	background-color: transparent;
	background-image: url('../images/plan/btn_50_21.gif');
	background-repeat: no-repeat;
	background-position: center;
	cursor:pointer;
	text-align: center;
	color: #fff;
}
.btn_50_21_hover{
	width: 50px;
	height: 21px;
	line-height: 21px;
	background-color: transparent;
	background-image: url('../images/plan/btn_50_21_hover.gif');
	background-repeat:no-repeat;
	background-position: center;
	cursor:pointer;
	text-align: center;
	color: #fff;
}
.btn_del_37_21{
	width: 37px;
	height: 21px;
	line-height: 21px;
	background-color: transparent;
	background-image: url('../images/plan/btn_del_37_21.gif');
	background-repeat: no-repeat;
	background-position: center;
	cursor:pointer;
	text-align: center;
	color: #fff;
}
.btn_del_37_21_hover{
	width: 37px;
	height: 21px;
	line-height: 21px;
	background-color: transparent;
	background-image: url('../images/plan/btn_del_37_21_hover.gif');
	background-repeat:no-repeat;
	background-position: center;
	cursor:pointer;
	text-align: center;
	color: #fff;
}
/*遮罩弹出框*/
.pop_bg {
	background-color: #fff;
	display:none;
	width: 100%;
	height: 2000px;
	left:0;
	top:0;/*FF IE7*/
	filter:alpha(opacity=50);/*IE*/
	opacity:0.5;/*FF*/
	z-index:1;
	position:absolute;/*IE6*/
}
