/* CSS Document */
.tabs {
	height:26px;
	width: 100%;
	background: #e6e6e6;
	margin-right:11px;
	background-image: url("../images/desk2/tabs_title_back.jpg");
	background-repeat: repeat-x;
	background-position: center;
}

.home_tab {
	float: left;
	display: block;
	width: 80px;
	text-align: left;
}

.home_tab a {
	width: 77px;
	display: block;
	float: left;
	font-size: 16px;
}

.tab {
	float: left;
	display: block;
	width: 81px;
	text-align: left;
}

.home_tab_active_start {
	background-color: transparent;
	color: #FFF;
	height: 26px;
	line-height: 26px;
}
.tab_active {
	background-color: #FFF;
	color: #FFF;
	height: 26px;
	line-height: 26px;
}
.tab_active a{
	color: #316685;
}

.tab_inactive {
	background-color: transparent;
	border-left: none;
	overflow: hidden;
	color: #000;
	height: 26px;
	line-height: 26px;
}
.tab_inactive a{
	color: #316685;
}

.tab a {
	width: 67px;
	display: block;
	text-align: center;
	float: left;
	height: 26px;
	line-height: 26px;
	font-size: 16px;
}

.tab_inactive div.close_tab {
	width: 13px;
	height: 26px;
	line-height: 26px;
	float: left;
	overflow: hidden;
	background-image: url("../images/desk2/close_tab.gif");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	visibility: hidden;
}

.tab_active div.close_tab {
	width: 13px;
	height: 26px;
	float: left;
	overflow: hidden;
	background-image: url("../images/desk2/close_tab.gif");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}