/* CSS Document */

body { 
	margin: 0px 0px 0px 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	}
#head{
height:120px;}

#body{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#FFFFFF;
font-size:14px;
font-weight:bold;}

input,textarea,select {
border-left:none; 
border-right:none; 
border-top:none; 
border-bottom:none;
background:transparent;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#FFFFFF;}

#foot{
padding-top:50px;
al}
