/*container*/
#ym-window{
	background:#FFFFFF;overflow:hidden;
	font-size:12px;font-family:'宋体';
	border:1px solid #99928c;
}

.ym-tl{padding-left:11px;background-color:#0167a2;}
.ym-tr{padding-right:11px;background-color:#0167a2;}
.ym-tc{background-color:#0167a2;overflow:hidden;height:30px;line-height:30px;}
.ym-ttc{height:3px}
.ym-header-text{font-size:14px;font-weight:bold;color:#fff;/*padding-left:5px;background: url(images/titleIco.gif) no-repeat 1px 1px;*/float:left}
.ym-header-tools{float:right;margin-top:1px;margin-right:-5px;}
.ym-header-tools strong{display:none}

/*body*/
.ym-ml{}
.ym-mr{}
.ym-mc{padding:0}
.ym-body{overflow:auto;padding:0;font-size:12px;}

/*button*/
.ym-btn{text-align:center}

/*footer*/
.ym-bl{padding-left:4px;}
.ym-br{padding-right:4px}
.ym-bc{height:4px;font-size:4px}

.ymPrompt_alert{
	padding-left:90px;
	background:url(images/info.gif) no-repeat 20px 50%
}
.ymPrompt_succeed{
	padding-left:90px;
	background:url(images/right.gif) no-repeat 20px 50%
}
.ymPrompt_error{
	padding-left:90px;
	background:url(images/err.gif) no-repeat 20px 50%
}
.ymPrompt_confirm{
	padding-left:90px;
	background:url(images/ask.gif) no-repeat 20px 50%
}
.ymPrompt_close{
	cursor:pointer;
	background:url(images/close_white.png) no-repeat center center;
	width:22px;height:22px;
}
.ymPrompt_alert .ym-content,.ymPrompt_succeed .ym-content,.ymPrompt_error .ym-content,.ymPrompt_confirm .ym-content{padding:50px 0 0}

.ym-header-tools div{
	cursor:pointer;
	width:22px;height:22px;float:left;margin:0 0;
	/*background:url(images/ico.gif) no-repeat;*/
}
.ymPrompt_close{
	/*background-position:-66px 0 !important;*/
	background:url(images/close_white.png) no-repeat center center;
	width:25px;height:26px;
}
.ymPrompt_max{
	background:url(images/max.png) no-repeat 0 0;
	width:25px;height:26px;
	/*background-position:0 0 !important;*/
}
.ymPrompt_min{
	background-position:-44px 0 !important;
}
.ymPrompt_normal{
	background:url(images/max.png) no-repeat 0 0;
	width:25px;height:26px;
	/*background-position:-22px 0 !important;*/
}

input.btnStyle{
	/*background: url("images/btnBg1.gif") no-repeat;
	border:0;
	width:60px;
	height:24px;
	line-height:24px;
	text-align: center;
	color:#fff;
	cursor: pointer;*/
	background: none;
	width: 60px;
	height: 24px;
	line-height: 24px;
	background-color: #0167a2;
	border: 1px solid #0167a2;
	color: #FFF;
	cursor:pointer;
	text-align: center;
}

input.btnStyle:hover{
	/*background: url("images/btnBg1_hover.gif") no-repeat;*/
	background: none;
	background-color: #0167a2;
}
