.fin_btnSearch {
	width: 60px;
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../../images/news/btn_search.gif');
	background-repeat:no-repeat;
	background-position: center;
	color: #FFF;
	cursor:pointer;
	border:0 none;
}
.fin_btnSearch:hover {
	background-image: url('../../images/news/btn_search_hover.gif');
}
.fin_btn4{
	width: 90px;
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../../images/news/btn4.gif');
	background-repeat:no-repeat;
	background-position: center center;
	color: #FFF;
	cursor:pointer;
	border:0 none;
}
.fin_btn4:hover{
	background-image: url('../../images/news/btn4_hover.gif');
}
.btn_excel{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../../images/plan/btn_excel.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn_excel_hover{
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../../images/plan/btn_excel_hover.gif');
	background-repeat:no-repeat;
	background-position: left center;
	cursor:pointer;
	padding-left:24px;
	text-align: left;
}
.btn2{
	width: 50px;
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../../images/news/btn2.gif');
	background-repeat:no-repeat;
	background-position: center;
	color: #FFF;
	cursor:pointer;
	border:0 none;
}
.btn2:hover{
	background-image: url('../../images/news/btn2_hover.gif');
}
.btn_addNew {
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../../images/plan/btn_add.gif');
	background-repeat:no-repeat;
	background-position: left 90%;
	cursor:pointer;
	padding-left:10px;
	text-align: left;
	float: left;
}

.btn_addNew:hover {
	background-image: url('../../images/plan/btn_add_hover.gif');
	background-position: left top;
	color: #40A3DE;
}
.btn_fullScreen {
	height: 24px;
	line-height: 24px;
	background-color: transparent;
	background-image: url('../../images/plan/btn_full.gif');
	background-position: left 90%;
	background-repeat:no-repeat;
	cursor:pointer;
	padding-left:26px;
	text-align: left;
	margin-left: 10px; 
	margin-right: 5px; 
	float: left;
}

.btn_fullScreen:hover{
	background-image: url('../../images/plan/btn_full_hover.gif');
	background-repeat:no-repeat;
	background-position: left top;
	color: #40A3DE;
}