
/*抬头行 - 若有新消息,显示来信提醒图标*/
.messageIconTipNew {
	background: url("../../images/webim/new_message.gif") no-repeat;
	width: 25px;
	height: 26px;
	position: absolute;
	left: 175px;
	top: 2px;
	z-index: 999;
	display: none;
	cursor: pointer;
}

/* 通讯录/会话*/
.left_address_talk_panel {
	width: 203px;
	color: #FFF;
}

.left_top_tabs {
	width: 100%;
	text-align: left;
	height: 26px;
	line-height: 26px;
	font-size: 16px;
}

.left_top_tabs div {
	float: left;
	cursor: pointer;
	display: block;
}

.left_top_tabs div.active {
	width: 101px;
	text-align: left;
	background-image: url("../../images/webim/tongxunlu_title_back_press.jpg");
	background-repeat: repeat-x;
	background-position: center;
}

.left_top_tabs div.inactive {
	width: 101px;
	text-align: left;
	background-image: url("../../images/webim/tongxunlu_title_back_normal.jpg");
	background-repeat: repeat-x;
	background-position: center;
}

/* 搜索栏 */
.search_area {
	display: block;
	width: 203px;
	height: 24px;
	text-align: center;
	background-color:#FFF;
	background-image: url('../../images/webim/search_zoom.jpg');
	background-repeat: no-repeat;
	background-position: 178px center;
}

.search_input {
	float:left;
	height: 18px;
	width: 175px;
	border: 1px solid #bfbfbf;
	margin-left:2px;
	margin-top:2px;
	color: #EEEEEE;
}

/* 公共区域(通讯录/对话内容/搜索结果)*/
.common_area {
	width: 203px;
	/*height: 250px;*/
	text-align: left;
	background-color: #FFF;
	color:#5A5A5A;
}
.common_area_head {
	width: 100%;
	height: 20px;
	background-image: url('../../images/webim/tongxunlu_head_back.jpg');
	background-repeat: repeat-x;
	background-position: center top;
	color:#FFF;
	line-height:20px;
}

/* 通讯录 */
.address_org_user {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 230px;
	font: 12px;
	text-align: left;
	margin-left:-15px;
	
}

/* 搜索结果*/
.search_user_result {
	display: none;
	overflow: auto;
	padding: 3px 0 3px 5px;
	height: 217px;
	text-align: left;
	color: #5A5A5A;
} 
.search_user_result .module {
	margin-bottom: 3px;
	text-decoration: none;
}
.search_user_result .module u{
	color: #5A5A5A;
}
  
.search_user_result .module .module_body {
	padding-left: 2px;
}

/* 正在联系/最近联系 background-color: #88a44f; */
.left_talk_options {
	float: left;
	width: 18px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.left_talk_options ul {
	width: 18px;
	vertical-align: middle;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	list-style-type: none; /*border: 2px solid #bfbfbf;*/
}

.left_talk_options ul li {
	padding-top: 5px;
	height: 60px;
	align: center;
}

.left_talk_options ul li.active {
	padding-top: 5px;
	height: 60px;
	align: center;
	background-color: #6f7680;
	color: white;
}

/* 联系人清单 */
.talk_member_ul_cls {
	cursor: pointer;
	list-style: none;
	border-left: 1px solid #6f7680;
	margin: 0px 0px 0px 18px;
	padding: 2px; 
	height: 226px;
	background-color: #FFF;
	overflow-x:hidden;
	overflow-y:auto;
}

.talk_member_ul_cls li {
	display: block;
	height: 18px;
	line-height:18px;
	padding-left: 5px;
	padding-top: 2px;
}

.talk_member_ul_cls li span {
	float: left;
	margin-right: 5px;
}

.talk_member_ul_cls li input {
	background: url("../../images/desk/bianqian_jiao_01.png")
}

.talk_member_ul_cls .selected {
	/*
	background: url("../../images/webim/row_selected.png") no-repeat;
	*/
	color: #4984AE;
}
 
.loading {
	background: url("../../images/webim/loading.gif") no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	display: inline-block;
} 

/* ************************************************************** */
/* 会话窗口样式说明 */
/* ************************************************************** */

.chatting_panel {
	border: 1px solid #7eaac7;
	position: absolute;
	z-index: -1;
	top:100px;
	left:380px;
	width:500px;
	height:350px;
	border:1px solid #99928C;
	background-color: #E6E6E6;
}
.chatting_panel_inner_border {
	width: 203px;
	height: 214px;
}

.titlebar {margin-right: 30px;}

.notify_content {
	padding: 1px 0px 0px 1px;
	position: relative; /*很重要*/
	/*width: 195px;*/
	height: 125px;
}

/* 会话窗口上方用户离线的提示- 浮动层,父节点属性必须是position:relative; */
.offline_notify {
	display: none;
	position: absolute;
	top: 0px;
	background-color: #F6F6F6;
	text-align: left;
}

.chatting_content {
	height:180px;
	overflow: auto;
	text-align: left;
	word-wrap: break-word;
	background-color: #fff;
	padding: 5px;
}

.chatting_slider_hidecontent {
	height: 10px;
	cursor: pointer;
	background-image: url('../../pics/webim/chat_hidecontent_bar.gif');
	background-repeat: no-repeat;
	background-position: center top;
	overflow: hidden;
}

.chatting_slider_showcontent {
	height: 10px;
	cursor: pointer;
	background-image: url('../../pics/webim/chat_showcontent_bar.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.chatting_window_close{
	background: url(../../pics/webim/note_del_hui.gif) no-repeat center center;
	width:20px;
	padding-right: 5px; 
	cursor:pointer;
	float:right;
	height:20px;
}
.chatting_window_close:hover{
	background: url(../../pics/webim/note_del_hui_hover.gif) no-repeat center center;
}
.chatting_window_min{
	background: url(../../pics/webim/btn_mini.gif) no-repeat center center;
	width:20px;
	padding-right: 5px; 
	cursor:pointer;
	float:right;
	height:20px;
}
.chatting_window_min:hover{
	background: url(../../pics/webim/btn_mini_hover.gif) no-repeat center center;
}

/* 本人/对方消息标题/ 消息内容 */
.chatting_content .dlg_from_self,.dlg_from_other{
	padding-left: 3px; padding-top: 5px;		
}

.chatting_content .dlg_from_other .dlg_msg_title {
	color: #0167a2;
	line-height: 13px;
	height: 13px;
}

.chatting_content .dlg_from_self  .dlg_msg_title {
	color: #a4c45f;
	line-height: 13px;
	height: 13px;
}

.chatting_content .dlg_from_other .dlg_msg_title font {
	font-size: 12px;
}

.chatting_content .dlg_from_self  .dlg_msg_title font {
	font-size: 12px;
}

/* 时间与姓名间隔5px */
.chatting_content .dlg_msg_time{
	margin-left:5px;
}
.chatting_content .dlg_msg_content {
	margin-left: 8px;
	font-size: 12px;
	color :     black;
	word-wrap: break-word;
	overflow: auto;
	overflow-x: hidden;
	margin: 0;
	padding-left: 6px;
	padding-top:3px;
	font-size: 12px;
}
.chatting_content a{
	text-decoration: underline;
	font-style: italic;
	font-weight: bolder;
}

.chatting_textarea_operate img {
	cursor: pointer;
}

/* 文本输入框*/
.chatting_textarea{
	height:32px;
	overflow:auto;
	border: none;
	border: none 0px;
	font-size: 12px;
	width: 195px;
}

/* 会话面板(历史/发送/清空) */
.chatting_operate {
	height: 24px;
	background-color: #e6e6e6;
	width: 100%;
}

/* 查看历史 */
.chatting_history {
	float: right;
	margin-top:1px;
	width: 50px;
	height: 21px; 
	line-height:21px;
	padding-left:21px;
	margin-right:10px;
	background-image: url("../../images/desk2/talk_history_normal.gif");
	background-repeat: no-repeat;
	background-position: left;
	cursor: pointer;
}

.chatting_history:hover {
	background-image: url("../../images/desk2/talk_history_press.gif");
	text-decoration: underline;
}

/* 发送*/
.chatting_send {
	float: right;
	margin-top:1px;
	width: 50px;
	height: 21px; 
	line-height:21px;
	padding-left:21px;
	background-image: url("../../images/desk2/talk_send_normal.gif");
	background-repeat: no-repeat;
	background-position: left;
	cursor: pointer;
}
.chatting_send:hover {
	background-image: url("../../images/desk2/talk_send_press.gif");
	text-decoration: underline;
}
/* 关闭*/
.chatting_close {
	float: right;
	margin-top:1px;
	width: 50px;
	height: 21px; 
	line-height:21px;
	padding-left:21px;
	background-image: url("../../images/desk2/btn_closure.gif");
	background-repeat: no-repeat;
	background-position: left;
	cursor: pointer;
}
.chatting_close:hover {
	background-image: url("../../images/desk2/btn_closure_hover.gif");
	text-decoration: underline;
}
.chatting_min{
	float:right;cursor: pointer;height: 25px;width:25px;display: none;
	background: url("../../pics/webim/btn_alk.gif") no-repeat;
}
.chatting_min:hover{
	background: url("../../pics/webim/btn_alk_hover.gif") no-repeat;
}

/* 清空*/
.chatting_clean {
	margin: 0px 10px;
	text-align: center;
	height: 21px;
	line-height:21px;
	cursor: pointer;
}

.chatting_clean:hover {
	text-decoration: underline;
}

/* **************************************************************************** */
/* 男/女 (在线/离线/闪烁)
/* **************************************************************************** */

/*图片公共*/
.none_newmsg_offline,
.none_newmsg_online,
.none_offline,
.none_online,
.male_newmsg_offline,
.male_newmsg_online,
.male_offline,
.male_online,
.female_newmsg_offline,
.female_newmsg_online,
.female_offline,
.female_online
{
	margin: 0;
	padding: 0;
	display: inline-block;
	background-repeat: no-repeat;
	width: 12px;
	height: 15px;
	line-height: 15px;
	background-position: left bottom;
}
/* 关闭按钮*/
.x_close {
	background: url("../../images/webim/x_close.jpg") no-repeat;
	width: 16px;
	height: 18px;
	line-height: 18px;
	padding: 0;
	display: none;
	cursor: pointer;
	background-position: left center;
}
.none_newmsg_offline {
	background-image: url("../../images/webim/none_newmsg_offline.gif");
}
.none_newmsg_online {
	background-image: url("../../images/webim/none_newmsg_online.gif");
}
.none_offline {
	background-image: url("../../images/webim/none_offline.jpg");
}
.none_online  {
	background-image: url("../../images/webim/none_online.jpg");
}
.male_newmsg_offline {
	background-image: url("../../images/webim/male_newmsg_offline.gif");
}
.male_newmsg_online {
	background-image: url("../../images/webim/male_newmsg_online.gif");
}
.male_offline {
	background-image: url("../../images/webim/male_offline.jpg");
}
.male_online  {
	background-image: url("../../images/webim/male_online.jpg");
}
.female_newmsg_offline {
	background-image: url("../../images/webim/female_newmsg_offline.gif");
}
.female_newmsg_online {
	background-image: url("../../images/webim/female_newmsg_online.gif");
}
.female_offline {
	background-image: url("../../images/webim/female_offline.jpg");
}
.female_online {
	background-image: url("../../images/webim/female_online.jpg");
}
.userName{
	
}
.queryMatched{
	background-color: #C1D5F5;
	padding: 2px 0 2px 0;
}