@import url("../common/base.css");

#warp{margin:0px;}
#header .title1{background: #e4e7ec;border-top:none;border-bottom: 1px solid #8c8f94;}
#header .title1 h2{width:105px;}
#header .title1 div.btns{float:none; }
#header .title1 div.btns button.searcher{float:left;background: #6caecb url(../../images/bis/search_senior.gif) no-repeat 0px 4px; width: 92px;}
/*#header .title1 div.btns button.searcher:hover,*/
#header .title1 div.btns button.selected{background: #6caecb url(../../images/bis/search_senior_hover.gif) no-repeat 0px 4px; }
#header .condition_panel{margin: 0px; background: #e4e7ec;padding: 5px 10px; padding-bottom:4px;border-bottom: 1px solid #8c8f94;}
#header .condition_panel label{ float: left;line-height: 25px;}
#header .condition_panel input,#header .condition_panel select{ margin-right: 10px;float: left;}
#header .condition_panel select{width:70px; float: left;height: 24px;}
#header .condition_panel button{ float: left;margin-right: 10px;height: 24px;line-height: 22px;}
#header .condition_panel .type {float:left;line-height: 23px;font-size: 14;}
#header .condition_panel .type a{font-size: 13px; font-weight: bold;color: #333}
#header .condition_panel .type a.selected{color: red;background: none;}




div#publish{background: none repeat scroll 0% 0% rgb(247, 247, 247); padding-top: 10px;border-bottom: 1px solid #DDDBDC}
div#publish li select{padding-left: 0px;}
div.form_body{border: 0px solid #cccccc; padding:19px 20px; padding-bottom: 10px; padding-top: 0px;}
div.form_body li{clear:both; height: 25px;line-height: 25px; margin-bottom: 5px;}
div.form_body li label{width: 40px; border: 0px solid red; display: block; float: left; text-align: right}
div.form_body li label.max{width: 50px;}
div.form_body li label.max2{width: 75px;}
div.form_body li input,div.form_body li textarea,div.form_body li select{ float: left; width: 100px; padding-left:5px}
div.form_body li input.max{width: 611px;}
div.form_body li input.min{width: 47px;}
div.form_body li input.disabled,div.form_body li textarea.disabled{background:#dedede;}
div.form_body li.hover{ padding: 5px 5px 4px 5px; border:1px dashed #E4E7EC;margin-bottom: 0px;}
div.form_body li.hover button{display: none;}
div.form_body li.hover:hover{ border-color: gray;}
div.form_body li.hover:hover button{display: block; }










table{
    border-collapse: collapse;
    table-layout: auto;
}
table th{height:35px;}
.stat_table {
    color: #464646;
    table-layout: fixed;
    width: 100%;
    padding: 0px;
}
.stat_table th {
    background-color: #E4E7EC;
    border: 1px solid #AAABB0;
    line-height: 20px;
}
.stat_table td {
    border: 1px solid #AAABB0;
    line-height: 26px;
    padding-right: 5px;
    text-align: left;
    padding-left: 10px;
}
.stat_table .total td {
    font-weight: bold;
}
.stat_title {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.stat_bar {
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    width: 100px;
}
.stat_table tr{cursor: pointer;}
.stat_table tr:hover,.stat_table tr.hover{
    background:#eaeaea;
}