@import url("../common/base.css");


#warp{margin:0px;}
#header .title1{background: #e4e7ec;border-top:none;border-bottom: 1px solid #8c8f94;}
#header .title1 h2{width:105px;}
#header .title1 div.btns{float:none; }
#header .title1 div.btns button.searcher{float:left;background: #6caecb url(../../images/bis/search_senior.gif) no-repeat 0px 4px; width: 92px;}
/*#header .title1 div.btns button.searcher:hover,*/
#header .title1 div.btns button.selected{background: #6caecb url(../../images/bis/search_senior_hover.gif) no-repeat 0px 4px; }
#header .condition_panel{margin: 0px; background: #e4e7ec;padding: 5px 10px; padding-bottom:4px;border-bottom: 1px solid #8c8f94;}
#header .condition_panel label{ float: left;line-height: 25px;}
#header .condition_panel input,#header .condition_panel select{ margin-right: 10px;float: left;}
#header .condition_panel select{width:70px; float: left;height: 24px;}
#header .condition_panel button{ float: left;margin-right: 10px;height: 24px;line-height: 22px;}
#header .condition_panel .type {float:left;line-height: 23px;font-size: 14;}
#header .condition_panel .type a{font-size: 13px; font-weight: bold;color: #333}
#header .condition_panel .type a.selected{color: #FFF;background: none;background: #F60;display: inline-block;padding:0 5px; }

#header .advanced_condition_panel{border:1px solid #8c8f94; left:10px;width:645px; height:91px;background: #FFF;position:absolute; top:32px;line-height:91px; text-align: center;}

div.results.results{}

table{
    border-collapse: collapse;
    table-layout: auto;
}
table th{height:35px;}
.stat_table {
    color: #464646;
    table-layout: fixed;
    width: 100%;
    padding: 0px;
}
.stat_table th {
    background-color: #E4E7EC;
    border: 1px solid #AAABB0;
    line-height: 20px;
}
.stat_table td {
    border: 1px solid #AAABB0;
    line-height: 26px;
    padding-right: 5px;
    text-align: right;
}
.stat_table .total td {
    font-weight: bold;
}
.stat_title {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.stat_bar {
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    width: 60px;
    background: #666;
    height: 20px;
    line-height:20px;
    margin-top: 5px;
    color: #FFF;
}
.stat_table tr{cursor: pointer;}
.stat_table tr:hover,.stat_table tr.hover{
    background:#eaeaea;
}
/*.stat_table .child:hover{background: #fff;}*/
.change_month {
    color: #0693E3;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
}

div.publish{
    width:650px; margin:  0px auto;
    position: fixed;
    left: 50%;
    margin-left: -325px;
    background-color: #FFF;
    color: #333;
    border: 1px solid #000;
    padding: 1px;
    background: #FFF;
    display: none;
}
div.publish .title{background: #0067a2; height: 35px;line-height: 35px; cursor: move}
div.publish .title h2{ color: #fff; padding-left: 10px;font-size:14px;}
div.publish  div.form_body{border: 1px solid #9CB6C6; margin-top: 1px; padding:30px;  padding-bottom: 20px;}
div.publish  div.form_body li{clear:both; height: 25px;line-height: 25px; margin-bottom: 10px;}
div.publish  div.form_body li label{width:100px; border: 0px solid red; display: block; float: left; text-align: right;}
div.publish div.form_body li label.max{width: 110px;}
div.publish div.form_body li input,div.form_body li textarea,div.form_body li select{ float: left; width: 80px; padding-left:5px}
div.publish div.form_body li input.max{width: 611px;}
div.publish div.form_body li input.min{width: 47px;}
div.publish div.form_body li input.disabled,div.form_body li textarea.disabled{background:#dedede;}
div.publish div.form_body li textarea{float: left;width: 613px; padding-top: 5px; height: 50px;}
div.publish div.form_body li.fujian{}
div.publish div.form_body li.fujian a.add_fj,
div.publish div.form_body li.fujian a.delete{color: #0066a4;text-decoration: underline}
div.publish div.form_body li.fujian a.add_fj:hover,
div.publish div.form_body li.fujian a.delete:hover{text-decoration: none;}
div.publish div.form_body li.fujian a.delete{color:red}
div.publish div.form_body li.fujian  div{ float: left; width: 500px; display: block; padding-bottom: 5px;}
div.publish div.form_body li.fujian  div p.bt{color: #909090}
div.publish div.form_body li.fujian  div p{line-height: 25px;}
div.publish div.form_body li.nodes button{ float: left;}
div.publish div.form_body li.nodes  div{float: left;/*background:red;*/width: 540px;}
div.publish div.form_body li.nodes  div p{clear:both;}
div.publish div.form_body li.nodes  div p input{width:150px;margin-bottom: 10px;}
div.publish div.form_body li.nodes  div p img{margin-top:1px; cursor: pointer}
div.publish div.informations{margin-left: 84px;}

.report{
    padding:10px;
}