@CHARSET "UTF-8";

.bottom-nav{
	list-style-type:none;
	font-size:14px;
}
.bottom-nav li{
	cursor: pointer;
    float: left;
    height: 38px;
    line-height: 38px;
    margin-right: 2px;
    padding: 0 5px;
    text-align: center;
    width: 60px;
}
.bottom-nav li:hover{
	background-color:#0167A2;
	color:#fff;
}
.bottom-nav-click{
	background-image: url("../../images/bis/select.png");
	background-repeat:no-repeat;
	background-position: center top;
	background-color:#0167A2;
	color:#fff;
}

.project-nav{
	list-style-type:none;
	font-size:12px;
}
.project-nav-li{
	height:20px;
	line-height:20px;
	padding:0px 5px;
	margin-top:2px;
	cursor:pointer;
}
.project-nav-li:hover{
	background-color:#2d8bef;
	color:#fff;
}

.project-nav-title{
	background:#18478d;
	color:#fff;
	line-height:30px;
	height:30px;
	padding:0 5px;
	font-size:14px;
	font-weight:bolder;
}
.bottom_div {
	background-color:#e4e7ec;
	border-top:1px solid #8c8f94;
	position:absolute; 
	bottom:0;
	width:100%;
	height:38px;
}
.followed_div {
	background-color:#e4e7ec;
	border-top:1px solid #8c8f94;
	float:left;
	width:100%;
	height:38px;
}

table.tb_search {
	width: 100%;
	height:30px;
	line-height:30px;
	font-size:12px;
}
table.tb_search .td_title{
	text-align: right;
	color:#333333;
}
table.tb_search td{
	height:26px;
	word-wrap: break-word;
}
table.tb_search input[type="text"] {
	width: 96%;
	
	line-height:20px;
	padding:2px;
	border:1px solid #333;
}

table.tb_search select {
	width: 100%;
	height:22px;
	line-height:20px;
	padding:2px;
	border:1px solid #333;
}

table.tb_search .error {
	color: red;
	border: 1px solid red;
}

table.main_content {
	width: 100%;
	height:30px;
	line-height:30px;
	color: #5a5a5a;
}
table.main_content td{
	word-wrap: break-word;
	padding: 0 5px;
}
table.main_content input[type="text"] {
	width: 94%;
	height:16px;
	padding:3px;
    background:#fff;
    line-height:20px;
    border: 1px solid #aac0d5;	
}
table.main_content input[type="text"].required {
	border-left:2px solid red;
}
table.main_content input[type="text"].requiredStore {
	border-left:2px solid red;
}
table.main_content textarea {
	width: 99%;
	margin-top:5px;
	padding:3px;
    background:#fff;
    line-height:20px;
    border: 1px solid #aac0d5;
}
table.main_content textarea.required{
	border-left:2px solid red;
}

table.main_content textarea.requiredStore{
	border-left:2px solid red;
}
table.main_content select {
	width: 100%;
	height:22px;
	line-height:20px;
	padding:2px;
    background:#fff;
	border:1px solid #333;
}
table.main_content select.required{
	border-left:2px solid red;
}
table.main_content select.requiredStore{
	border-left:2px solid red;
}

table.main_content font {
	height: 100%;
}
.bis_search{
	height: 30px;
	line-height: 30px;
	width: 100%;
	background-color: #e4e7ec;
	color:#363636;
	font-size: 12px;
	float:left;
	border-bottom: 1px solid #8c8f94;
}
.bis_search2{
	line-height: 30px;
	width: 100%;
	background-color: #e4e7ec;
	color:#363636;
	border-bottom: 1px solid #8c8f94;
}
.bis-nav{
	list-style-type:none;
	font-size:14px;
	border-bottom: 4px solid #0167A2;
}
.bis-nav li{
	float:left;
	height:26px;
	line-height:26px;
	padding:0 5px;
	margin:12px 10px 0px 0px;
	cursor:pointer;
}
.bis-nav-border{
	border:1px solid #cccccc;
	border-bottom:0px;
}
.bis-nav li:hover{
	background-color:#0167A2;
	border-bottom:0px;
	color:#fff;
}
.bis-nav-click{
	background-color:#0167A2;
	border:1px solid #0167A2;
	border-bottom:0px;
	color:#fff;
}

.bis_rpt{
	list-style-type:none;
	font-size:12px;
}
.bis_rpt li{
	float:left;
	height:22px;
	line-height:22px;
	padding:0 8px;
	margin: 4px 1px;
	cursor:pointer;
	/* color: #0167a2;
	text-decoration: underline; */
}
.bis_rpt_li{
	color: #0167a2;
}
.bis_rpt li:hover{
	background-color:#fb9032;
	color:#fff;
}
.bis_rpt_click{
	background-color:#fb9032;
	color:#fff;
}

.bis_cgt{
	list-style-type:none;
	font-size:12px;
}
.bis_cgt li{
	float:left;
	height:18px;
	line-height:18px;
	padding:0 8px;
	margin: 6px 1px;
	cursor:pointer;
	/* text-decoration: underline; #ffa613*/
}
.bis_cgt_li{
	background-color: #cccccc;
	color: #333;
}
.bis_cgt li:hover{
	background-color:#fb9032;
	color:#fff;
}
.bis_cgt_click{
	background-color:#fb9032;
	color:#fff;
}

.scroll_y_show {
	overflow-y:scroll;
	overflow-x:hidden;
	/*margin-right:8px;*/
}

div.quickSenior{
	color: white;
	padding:5px;
	background-image: url("../../images/res/search_senior.gif");
	background-repeat:no-repeat;
	background-position: 5px 5px;
	cursor: pointer;
}
div.quickSeniorHover{
	background-image: url("../../images/res/search_senior_hover.gif");
}

.ellipsisDiv_full{
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	height:25px;
	line-height: 25px;
}

.res_tip {
	text-align: left;
	margin: 10px 8px;
	width: 98%;
	color: red;
	background-image: url('../../images/res/res_tip.png');
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding: 8px 0;
	height: 30px;
	line-height: 30px;
}
table.tb_content {
	width: 100%;
	color: #333;
}
table.tb_content th{
	word-wrap: break-word;
	line-height: 30px;
	font-size:14px;
	font-weight:bolder;
}
table.tb_content td{
	line-height: 25px;
	font-size:12px;
	overflow:hidden;
}
table.tb_content .td_title {
	padding-left: 8px;
	text-align: left;
}
table.tb_content .td_title_border {
	padding-left: 8px;
	text-align: left;
	font-weight:bolder;
}
table.tb_content .td_header {
	padding-left:8px;
	font-size:14px;
	color: #0167A2;
}

table.innerTable {
	width: 100%;
	border: 0px;
}
table.innerTable .headTr td{
	background-color: #c3c7ca;
	line-height: 38px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #464646;
	padding: 0px 2px;
}

table.innerTable td {
	word-wrap:break-word;
	border: 1px solid #aaabb0;
	line-height: 25px;
	text-align: right;
	color: #464646;
	padding: 0px 2px;
}
table.innerTable th {
	word-wrap:break-word;
	background-color: #E4E7EC;
	border: 1px solid #aaabb0;
	line-height: 25px;
	text-align:right;
	color: #464646;
	padding: 0px 2px;
}
/*閺�泛鍙嗘稉搴㈡暜閸戝搫妯婃０锟界悰锟�
table.innerTable .bottomTitle{
    background:  #EEEEEE;
    color: #FF0000;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;    
    font-size: 14px;
    line-height: 38px;
	height:38px;
}
table.innerTable .bottomTd {
    background: #EEEEEE;
    color: #FF0000;
    text-align: right;
    font-size: 14px;
    line-height: 38px;
	height:38px;
    padding: 0 2px;
}
table.innerTable .leftTd {
    background: #EEEEEE;
    text-align: left;
	padding: 0 5px;
}

.tr_tenant_click{
	background-color:#006FB6;
	color:#fff;
}

.pover{background:#2d8bef;color:#ffffff;}
.pHead{display:block;color:#006fb6;}

a:hover {
	text-decoration:underline;
}
.div_version{}

.link_bis:hover {
	cursor: pointer;
    text-decoration: underline;
}
.senior_search{
	width: 70px;
	height: 20px;
	line-height: 20px;
	background-color: #6CAECB;
    border: 1px solid #597126;
	color: #FFF;
	cursor:pointer;
	text-align: center;