/*报表样式*/
.mTable{
    border: none;
    width: 100%;
}
.mTable .toptr{
    height: 26px;
    line-height: 26px;
    font-size:14px;
    color: #464646;
}
.mTable .headTr td {
    background-color: #C3C7CA;
    color: #464646;
    font-size: 14px;
    font-weight: bolder;
    height:38px;
    line-height: 38px;
    text-align: center;
}
.mTable th {
    background-color: #E4E7EC;
    border: 1px solid #AAABB0;
    color: #464646;
    height: 24px;
    line-height: 24px;
    text-align: right;
    word-wrap: break-word;
}
.mTable td{
    border: 1px solid #AAABB0;
    height: 24px;
    line-height: 24px;
    word-wrap: break-word;
    overflow:hidden;
	text-align:right;
	padding: 0 5px;
}
.indent_1{
	padding-left:5px;
	font-weight: bold; 
	color: #0167a2;
	text-align: left;   
	background-color:#E4E7EC;
	width:250px;
	border: 1px solid #AAABB0;       
	line-height: 25px;     
	word-wrap: break-word;
} 
.indent_2{
	padding-left:20px;
	font-weight: lighter; 
	text-align: left;
	width:250px;
	border: 1px solid #AAABB0;       
	line-height: 25px;     
	word-wrap: break-word;
	color: #464646;
}  
.indent_3{
	padding-left:45px;
	font-weight: lighter; 
	text-align: left;
	width:250px;
	border: 1px solid #AAABB0;       
	line-height: 25px;     
	word-wrap: break-word;
	color: #464646;
}  
.indent_4{
	padding-left:55px;
	font-weight: lighter; 
	text-align: left;
	width:250px;
	border: 1px solid #AAABB0;       
	line-height: 25px;     
	word-wrap: break-word;
	color: #464646;
}
.indent_5{
	padding-left:5px;
	font-weight: bold; 
	color: #0167a2;
	text-align: left;   
	background-color:#E4E7EC;
	width:150px;
	border: 1px solid #AAABB0;       
	line-height: 25px;     
	word-wrap: break-word;
} 
.mTable .triangle{
	background-image: url('../../images/common/right_grey.gif');
	display: inline-block;
	height: 12px;
	width: 12px;
}
.mTable .triangledown{
	background-image: url('../../../resources/images/common/down_grey.gif');
	display: inline-block;
	height: 12px;
	width: 12px;
}

  