table{
    border-collapse: collapse;
    table-layout: auto;
}
table th{height:35px;}
.stat_table {
    color: #464646;
    table-layout: fixed;
    width: 100%;
    padding: 0px;
}
.stat_table th {
    background-color: #E4E7EC;
    border: 1px solid #AAABB0;
    line-height: 20px;
}
.stat_table td {
    border: 1px solid #AAABB0;
    line-height: 26px;
    /*padding-right: 5px;*/
    text-align: right;
}
.stat_table .total td {
    font-weight: bold;
}
.stat_title {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.stat_bar {
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    width: 100px;
}
.stat_table tr{cursor: pointer;}
.stat_table tr:hover,.stat_table tr.hover{
    background:#eaeaea;
}