html, body {height: 100%;margin: auto;}
input[type=text] {height: 24px; line-height:24px; border: 1px solid #999999;}
input[type=checkbox]{border:none;}
#main {height: 100%;}
#top {padding: 10px 0px 10px 10px; height: 24px; border-bottom: 1px solid #8C8F94; background-color: #E4E7EC;}
#top .inputBtn{line-height: 18px; font-size: 12px; height: 20px; width: 120px;}
#top .month{line-height: 18px; font-size: 12px; height: 20px; width: 40px;margin-left:5px;margin-right:5px;text-align:center}
#top .year{line-height: 18px; font-size: 12px; height: 20px; width: 40px;margin-right:5px;size: 4;text-align:center}
#topBis .month{line-height: 18px; font-size: 12px; height: 20px; width: 60px;margin-left:5px;margin-right:5px;text-align:center}
#topBis .year{line-height: 18px; font-size: 12px; height: 20px; width: 60px;margin-right:5px;size: 4;text-align:center}
.centerTitle{border-bottom:1px solid #CCCCCC;background-color: #FFFFFF;clear:both;padding: 6px 5px;font-weight: bold;}
.titleBarRight{width:182; height:auto; border: none; float:right;margin-right:10px;}
.titleBarRight input{font-size: 12px; cursor: pointer; width:80px; height:26px; border: none;color:white;}
.full_screen {background-color: transparent; background-image: url("../../images/common/btn_full_white.gif"); background-position: center center; background-repeat: no-repeat; color: #FFFFFF; cursor: pointer; float: right; height: 26px; line-height: 26px; text-align: center; width: 62px;}
.actionTab {font-size: 12px; padding-top: 5px;margin-left: 5px;position:absolute;z-index:80;}
.actionTab .newBtn {border: none; font-size: 12px; margin-right: 5px; color: white; cursor: pointer; width: 100px; height: 26px; background-image:url("../../images/res/res_add.png"); background-position: 5px; background-repeat: no-repeat;}
.actionTab .inputBtn {border: none; font-size: 12px;  color: white; cursor: pointer; width: 80px; height: 26px;}
.addTab{font-size: 12px; padding-bottom:5px; margin-left: 5px;float:right;}
.addTab input{font-size: 12px; float:left;}
.addTab .newBtn {border: none; font-size: 12px; margin-right: 3px; color: white; cursor: pointer; width: 100px; height: 26px; background-image:url("../../images/res/res_add.png"); background-position: 5px; background-repeat: no-repeat;}
.addTab .inputBtn {border: none; font-size: 12px; margin-left: 5px; color: white; cursor: pointer; width: 80px; height: 26px;}
.addTabByBis{font-size: 12px;margin-left: 5px;margin-bottom:5px;}
.addTabByBis .newBtn {border: none; font-size: 12px; margin-left: 5px; color: white; cursor: pointer; width: 100px; height: 26px; background-image:url("../../images/res/res_add.png"); background-position: 5px; background-repeat: no-repeat;}
.addTabByBis .inputBtn {border: none; font-size: 12px; margin-left: 5px; color: white; cursor: pointer; width: 80px; height: 26px;}
#selectCenter {width: auto; height: auto; position:absolute; left: 85px; top: 32px; font-size: 12px; background-color: #ffffff; border: 1px solid #CCCCCC;z-index:99;}
#selectCenter input {float:left; font-size: 12px; cursor: pointer; width:80px; height:26px; border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF; border-top: none;border-left: none;color:#000000;}
#selectCenterBis {width: auto; height: auto; position:absolute; left: 85px; top: 32px; font-size: 12px; background-color: #ffffff; border: 1px solid #CCCCCC;z-index:99;}
#selectCenterBis input {float:left; font-size: 12px; cursor: pointer; width:80px; height:26px; border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF; border-top: none;border-left: none;color:#000000;}

#selectYear {clear:both; width: auto; height: auto; position:absolute; left: 216px; top: 32px; font-size: 12px; background-color: #ffffff; border: 1px solid #CCCCCC;}
#selectYear input {float:left; margin-left: 0px; font-size: 12px; cursor: pointer; width:80px; height:26px; border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF; border-top: none;border-left: none;color:#000000;}
#selectYear .yearDiv{font-weight: bold;padding:6px 5px;}
#selectMonth {clear:both; width: auto; height: auto; position:absolute; left: 286px; top: 32px; font-size: 12px; background-color: #ffffff; border: 1px solid #CCCCCC;}
#selectMonth input {float:left; margin-left: 0px; font-size: 12px; cursor: pointer; width:80px; height:26px; border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF; border-top: none;border-left: none;color:#000000;}
#selectMonth .monthDiv{font-weight: bold;padding:6px 5px;}

#selectNewMonth {clear:both; width: auto; height: auto; position:absolute; margin-left: 60px; margin-top: 0px; font-size: 12px; background-color: #ffffff; border: 1px solid #CCCCCC;}
#selectNewMonth input {float:left; margin-left: 0px; font-size: 12px; cursor: pointer; width:80px; height:26px; border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF; border-top: none;border-left: none;color:#000000;}
#selectNewMonth .monthNewDiv{font-weight: bold;padding:6px 5px;}
/**商业**/
#selectYearByBis {background-color: #FFFFFF;border: 1px solid #CCCCCC;clear: both;font-size: 12px;height: auto;left: 81px;position: absolute; top: 141px;width: auto;}
#selectYearByBis input {float:left; margin-left: 0px; font-size: 12px; cursor: pointer; width:80px; height:26px; border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF; border-top: none;border-left: none;color:#000000;}
#selectYearByBis .yearDiv{font-weight: bold;padding:6px 5px;}
#selectMonthByBis {background-color: #FFFFFF;border: 1px solid #CCCCCC;clear: both;font-size: 12px;height: auto;left: 172px;position: absolute;top: 141px;width: auto;}
#selectMonthByBis input {float:left; margin-left: 0px; font-size: 12px; cursor: pointer; width:80px; height:26px; border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF; border-top: none;border-left: none;color:#000000;}
#selectMonthByBis .monthDiv{font-weight: bold;padding:6px 5px;}
.selectType {position: absolute; left: auto; top: auto; width: 100px; height: auto;font-size: 12px; background-color: #ffffff; border: 1px solid #CCCCCC;border-bottom:none;}
.selectType ul li{cursor:pointer; list-style: none;border-bottom:1px solid #CCCCCC;font-size: 12px;line-height: 16px;height:auto;padding-top:3px;padding-bottom:3px;padding-left:2px;}

.btnSelect {background-color: #0072bb;}
.btnCancel {background-color: #cbcbcb;}
.btn_Green {background-color: #449139;margin-left:5px;}
.btn_Blue {background-color: #0072bb;margin-left:5px;}
.btn_Red {background-color: #ac2727;margin-left:5px;}
.btn_Orange {background-color: #f46614;margin-left:5px;}
.btn_Gray {background-color: #666666;margin-left:5px;}

/** 高级搜索 **/
#searchPanel {height: 90px; background-color: #E4E7EC; padding: 5px;}
#searchPanel table {width: 80%; font-size: 12px;}
#searchPanel table td {padding-top:5px;}
#searchPanel table .btnSearch {color: white; width: 60px; height: 26px; float: left; cursor: pointer; border: none;}
#searchPanel table .btnCancel {color: white; width: 60px; height: 26px; margin-left: 5px; cursor: pointer; border: none;}

#mainContent {width: 100%; height:100%; background-color: white;}

#contentPanel {height: 390px; padding: 5px 10px 10px;clear:left;}
#contentPanel table {width:100%; font-size: 12px;}
#contentPanel table textarea {line-height: 12px; font-size: 12px;}

#contentPanel .first{padding-left:10px; background-image: url("");}
#contentPanel .sort{cursor: pointer;}
#contentPanel .asc{background:center url("../../images/common/asc.gif") no-repeat;cursor:pointer;}
#contentPanel .desc{background:center url("../../images/common/desc.gif") no-repeat;cursor:pointer;}
#contentPanel .headTd{background-image: url("../../images/common/table_title_cutline.gif"); border-bottom: none; background-position: left center; background-repeat: no-repeat; font-weight: normal; height: 30px; line-height: 30px; padding-left: 10px; vertical-align: middle;}
#contentPanel .bodyTd{border-bottom: 1px solid #DDDBDC; padding-left: 10px;height: 30px;}

/** 新建工作计划 **/
#newMonthPlan {background-color:#E4E7EC;}
#newMonthPlan table {width:100%;}
#newMonthPlan table .btn {border: none; margin-right: 5px; color: white; cursor: pointer; padding: 2px 20px; height: 26px;}

/** 工作计划编辑 **/
.editMonthPlan {background-color:#E4E7EC;}
.editMonthPlan table {width:100%;}
.editMonthPlan .editSequenceNumber {width:100%;font-size: 12px;border:1px solid #7F9DB9;height:18px;padding-bottom:30px;line-height:18px;text-align: center;}
.editMonthPlan .editPlanType {width: 100%; height:18px; text-align:center; padding-bottom: 30px; border:1px solid #7F9DB9; font-size: 12px;background-color:#FFFFFF;}
.editMonthPlan .editContent {width: 100%; height: 45px; padding-top: 3px; border:1px solid #7F9DB9;}
.editMonthPlan .editTargetDate {width: 100%; height: 18px; padding-bottom: 30px; border:1px solid #7F9DB9;}
.editMonthPlan .editStatus {padding-bottom: 30px; border:1px solid #7F9DB9; background-color: white; width: 100%; height: 18px; text-align: center;}
.editMonthPlan #editAttach {width: 96%; height: auto; padding-bottom:4px;padding-top:5px;}
.editMonthPlan #editAttach .link {color:#0072BB; text-decoration: underline; cursor: pointer;}
.editMonthPlan #editAttach .del {cursor: pointer; width: 15px; height: 15px;}
.editMonthPlan #editAttach table tr {border:1px;}
.editMonthPlan .editMessage {width: 320px; height: 50px; float: left;}
.editMonthPlan .editTable{width:100%;}
.editMonthPlan .editTable .btn {float:left; border: none; margin-left: 5px; color: white; cursor: pointer;  height: 26px;}
.editMonthPlan .editTable .msgBtn {border: none; color: white; cursor: pointer; width: 50px; height: 52px; margin-left:5px;}
.editMonthPlan .editTable .td{padding-top:5px;}
.editMonthPlan .editTable .td2{padding-top:10px;}

/*文本限长显示框，超过部分用...代替。使用时要自行定义width和float*/
.ellipsis_Div{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 26px;
	line-height: 26px;
	width: 520px;
}

/** 批量操作 **/
.batchAction {margin-top:10px;margin-left:10px;}
.batchAction .batchText{font-weight: bold;font-size: 16px;}
.batchAction .btn {border: none; color: white; cursor: pointer; padding: 2px 2px; height: 26px;}


/** 图标 **/
.unexec{background: left center url("../../images/common/status_unconfirm.gif") no-repeat;padding-left:25px;height: 25px;}
.process{background: left center url("../../images/common/status_confirm.gif") no-repeat; padding-left:25px; height: 25px;}
.prefinish{background: left center url("../../images/common/status_prefinish.gif") no-repeat; padding-left:25px; height: 25px;}
.finish{background: left center url("../../images/common/status_finish.gif") no-repeat; padding-left:25px; height: 25px;}
.delay{background: left center url("../../images/common/status_delay.gif") no-repeat; padding-left:25px; height: 25px;}
.unmonth{background: left center url("../../images/common/status_unmonth.gif") no-repeat; padding-left:25px; height: 25px;}
.completedelay{background: left center url("../../images/common/status_completeDely.gif") no-repeat; padding-left:25px; height: 25px;}
.suspend{background: left center url("../../images/common/status_suspend.gif") no-repeat; padding-left:25px; height: 25px;}
.hidden{background: left center url("../../images/common/status_hidden.gif") no-repeat; padding-left:25px; height: 25px;}
.predel{background: left center url("../../images/common/status_predel.gif") no-repeat; padding-left:25px; height: 25px;}
.delete{background: left center url("../../images/common/status_del.gif") no-repeat; padding-left:25px; height: 25px;}

/** 附件 **/
.attach{ background: left center url("../../images/bid/atta.gif") no-repeat; padding-left:25px; height: 25px;}

/** 成本系统#计划平台#成本任务 **/
#cost-container {height: 390px; padding: 5px 10px 10px;}
#cost-container table {width:100%; font-size: 12px;}
#cost-container table textarea {line-height: 12px; font-size: 12px;}
#cost-container .first{padding-left:10px; background-image: url("");}
#cost-container .sort{cursor: pointer;}
#cost-container .asc{background:right url("../../images/common/asc.gif") no-repeat;cursor:pointer;}
#cost-container .desc{background:right url("../../images/common/desc.gif") no-repeat;cursor:pointer;}
#cost-container .headTd {background-image: url("../../images/common/table_title_cutline.gif"); border-bottom: none; background-position: left center; background-repeat: no-repeat; font-weight: normal; height: 30px; line-height: 30px; padding-left: 10px; vertical-align: middle;}
#cost-container .bodyTd {border-bottom: 1px solid #DDDBDC; padding-left: 10px;height: 30px;}
/**商业计划平台**/
#work_body table {width:100%;font-size:12px;}
#work_body table textarea {line-height: 12px; font-size: 12px;}
#work_body .first{padding-left:10px; background-image: url("");}
#work_body .sort{cursor: pointer;}
#work_body .asc{background:right url("../../images/common/asc.gif") no-repeat;cursor:pointer;}
#work_body .desc{background:right url("../../images/common/desc.gif") no-repeat;cursor:pointer;}
#work_body .headTd {background-image: url("../../images/common/table_title_cutline.gif"); border-bottom: none; background-position: left center; background-repeat: no-repeat; font-weight: normal; height: 30px; line-height: 30px; padding-left: 10px; vertical-align: middle;}
#work_body .bodyTd {border-bottom: 1px solid #DDDBDC; padding-left: 10px;height: 30px;}
/**年计划**/
.yearMonth{background-color:#0068A2;color:#FFFFFF;hegiht:100%;border-left:1px solid #FFFFFF;}
.newYearPlan { background-color: #E4E7EC;height:35px;}
.yearBtn {border: none; margin-right: 5px; color: white; cursor: pointer; padding: 2px 20px; height: 26px;}
.deta{ background-color: #E4E7EC;height:60px;display:none;}
#scheTable textarea{border: 1px solid #999999;padding-top:5px;height: 35px;width:98%;}